
/* ============ individual element styling ==========*/
#intro-wrapper{
    background: url(/images/sushi.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
}
#intro-bg{
    min-height: 780px;
    overflow: hidden;
    padding-bottom:30px;
}

@-webkit-keyframes slide_in {
    0%   {top: 600px;opacity:0;}
    100% {top:345px;opacity: 1;}
}

@keyframes slide_in {
    0%   {top: 600px;opacity:0;}
    100% {top:345px;opacity: 1;}
}


#intro-order h1{
    color: white;font-size: 50px;
}

[v-padding], [v-padding]>div{
    padding: 10px;
}


.message{
    max-width: 400px;background: #666;
    font-size:20px;color:#fff;
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.about-message {
    font-size: 40px;
    color:  #000;
}

#footer{
    background: #3CACF0;padding: 10px;
}

.dropdownmenu > li > a {
   text-align: center;
}

