[h-padding]>div, [h-padding-one]>div{
    padding: 0px 10px;
}

.title-bg{
    background: url(/images/food-pic.jpg) no-repeat;
    background-size: 100%;
    height:200px;width:100%;position:absolute;
    z-index:-1;opacity:0.3;
}

/* Blue help text of current step */
.text-step{
    background: #000;color:#eee;padding:10px 20px;border-radius: 3px;
}

.tag-default.tag-date{
    padding: 15px 20px;margin:10px 10px;
}



/*=======================================*/
/* ======== Store picker sector ======== */
.remove-order{
    width:100%;position:absolute;
    cursor: pointer;right:0px;
    padding: 10px 20px;
}
.store-picker{
    background: #FFBB00;padding:20px;color: #666;
    box-shadow: 0px 6px 6px #aaa;
}
.store{
    cursor: pointer;display: inline-block;
    border:2px solid transparent;
    margin-right: 20px;margin-left: 20px;
}
.store:hover{
    border:2px solid #aaa;
}
.store.active{
    border:2px solid #fff;
}
@media only screen
and (min-width : 320px)
and (max-width : 480px){
    .some{}
    .store-picker[mobile-reduce-padding]{
        padding: 10px;
    }
    .store[mobile-reduce-padding]{
        padding: 5px 10px;
    }
}
@media only screen
and (min-width : 480px)
and (max-width : 960px){
    .some{}
    .store-picker[mobile-reduce-padding]{
        padding: 10px;
    }
    .store[mobile-reduce-padding]{
        padding: 5px 10px;
    }
}
/* ======== Store picker END ======== */
/*====================================*/

/*========================*/
/* ======== Tabs ======== */
.tab {
    background: #f4f4f4;height:50px;
    cursor: pointer;font-weight: 600;margin-right: 10px;
    transition:all 0.2s;min-width:180px;padding: 0px 20px;
    -webkit-transition:all 0.2s;
}
.tab:hover{
    background: #ddd;
}
.tab.active{
    background: #fb0;color: #fff;box-shadow: 2px 2px 4px #aaa;
}

.tab.add-order{
    font-size: 18px;width: 100px;
    background: #f4f4f4;
}
.tab.add-order:hover{
    background: #ddd;
}
/* ========Tabs END ======== */
/*===========================*/


/*==============================*/
/* ======== Order menu ======== */
.order-items-wrapper{
    min-height: 570px;
    padding:20px 40px;padding-bottom: 50px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.order-dates{
    line-height:30px;padding-left:30px;
}

/* Order-policy */
.order-policy {
    border:1px solid #f0b000;
    background: #fb0;
    box-shadow: 0px 3px 8px #aaa;
    padding:15px 25px;
}

/* Set each order-item to fade in */
.order-menu{
    width:100%;
}
.order-menu input[type='text']{
    width:90%;background: transparent;
    border-bottom: 2px solid #ccc;
    font-size: 20px;line-height: 25px;color: #666;text-align: initial;
    padding:10px;
}

.order-menu-item{
    display: inline-block;
    background: #f9f9f9;
    margin:10px;width:30%;
    border:2px solid #eee;
}
.order-menu-item.selected {
    border:2px solid #499AD4;
    box-shadow: 0px 2px 8px #aaa;
}

.text-small.menu-catagory-description{
    padding: 5px 10px;color: #666;
}

.order-menu-item-name{
    padding: 10px 15px;
    text-align: initial;
}
.button-add, .button-minus{
    position:relative;right:0px;
    padding:30px 20px;font-size: 14px;
    height: 100%;
    transition: all 0s;
    -webkit-transition: all 0s;
}
.button-add:hover{
    background: #499AD4;color: #fff;
}
.button-minus:hover{
    position:relative;
    background: red;color:#fff;
}

/* ======== For browser resizing ======== */
@media only screen
and (min-width : 320px)
and (max-width : 640px){
    .some{}
    .order-items-wrapper[mobile-no-padding]{
        padding:0px;
    }
    .order-menu-item[mobile-narrow]{
        min-width:0px;width:100%;
    }
}

@media only screen
and (min-width : 640px)
and (max-width : 1024px){
    .some{}
    .order-menu-item[mobile-narrow]{
        min-width:0px;width:45%;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .some{}
    .order-dates[mobile-lr-paddingless]{
        padding-left: 0px;padding-right: 0px; text-align: center;
    }
    .order-summary-item[mobile-reduce-margin],
    .order-summary-remove[mobile-reduce-margin],
    .order-summary-add[mobile-reduce-margin]{
        margin:0px 0px;font-size: 12px;
    }
    .order-menu[mobile-narrow]{
        min-width:0px;width:100%;
    }
    .order-menu input[type='text'][mobile-narrow]{
        width:100%;
    }
    .order-menu-item[mobile-narrow]{
        width:90%;
    }
    .order-menu-item-name[mobile-narrow]{
        padding:5px 0px 5px 10px;
    }
    .order-menu-item[mobile-narrow] .text-small,
    .order-menu-item[mobile-narrow] .text-xsmall{
        font-size: 12px;
    }
    .button-minus[mobile-narrow], .button-add[mobile-narrow]{
        padding:18px 12px;
    }
    .text-step{
        box-shadow: 0px 3px 8px #aaa;
    }
}

@media only screen
and (min-device-width : 480px)
and (max-device-width : 960px) {
    .some{}
    .order-menu-item[mobile-narrow]{
        width:45%;
    }
    .order-menu input[type='text'][mobile-narrow]{
        width:100%;
    }
    .text-step{
        box-shadow: 0px 3px 8px #aaa;
    }
    .order-menu-item-name[mobile-narrow]{
        padding:5px 0px 5px 5px;
    }
    .button-minus[mobile-narrow], .button-add[mobile-narrow]{
        padding:18px 12px;
    }
    .order-policy[mobile-reduce-padding]{
        padding-top: 20px;padding-bottom: 20px;
    }
}


/* ======== Order menu END ======== */
/*==================================*/


.success-summary-item{
    display: inline-block;padding: 5px 10px;
    margin:10px; background: #ddd;
}


/* =============================== */
/* ======== Summary Panel ======== */
/* =============================== */
.panel-order-summary{
    position: fixed;
    width:100%;
    font-size: 20px;
    top:0px;
    background: #fff;
    box-shadow: 0px 2px 10px #aaa;
    padding:10px;
}

.panel-order-summary.lower{
    top:80px;
    box-shadow: 0px 5px 8px #ccc;
}

.panel-order-summary-displace{
    width:100%;
    font-size: 20px;
    top:0px;
    background: #fff;
    padding:10px;
    margin-top: 0px;
}

.order-summary-items{
    max-height: 400px;overflow: scroll;
}

.order-summary-item{
    display: inline-block;cursor: pointer;
    background: #eee;padding: 10px;
    border:1px solid #eee;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.order-summary-item:hover{
    border:1px solid #499AD4;
}
.order-summary-item-quantity{
    background: #499AD4;
    border:1px solid transparent;
    color: #fff;font-weight: 600;
    padding: 0px 10px;
}
.order-summary-item-remove, .order-summary-item-add{
    background: #eee;
    border:1px solid #eee;
    color: #fff;font-weight: 600;
    padding: 0px 10px;
    cursor: pointer;
}
.order-summary-item-remove:hover, .order-summary-item-add:hover{
    background: #ff656f;border:1px solid #ff656f;color: #fff;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .panel-order-summary .text-large[mobile-small]{
        font-size: 20px;margin:0px;
    }
    .button-small[mobile-narrow]{
        padding: 5px 15px;
    }
}

b.exceeded {
    color: red;
}

/*Customer Info form*/
form>div>div{
    padding: 0px 10px;
}
form>div{
    padding: 10px 0px;
}
.customer-info{
    transition:0.2s all;
    -webkit-transition:0.2s all;
    opacity: 0;padding-left: 10px;padding-bottom: 30px;
}
.customer-info.customer-info-active{
    opacity:100;
}
[name='customerInfoForm']>div{
    padding:20px;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    [name='customerInfoForm']>div{
        padding: 20px 0px;
    }
}
.css-form {
    margin-top: 20px;
}
.css-form input.ng-invalid.ng-dirty {
    color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
    color: #52AF50;
}

.css-form .fa{
    font-size: 18px;background: #EEE;padding: 3px 13px;color: #666;
    vertical-align: middle;line-height: 35px;
    border-bottom:1px solid #ddd;border-left: 1px solid #ddd;
}
.css-form .fa.fa-email{
    padding: 3px 10px;
}

.order-success-wrapper{
    padding:40px 0px;background: #f9f9f9;
}