$font-color: #FF5F24;

/* ====== Helper classes ====== */
[bd-red]{
    border:1px solid red;
}
[bd-green]{
    border:1px solid green;
}
[bd-blue]{
    border:1px solid blue;
}
[bd-black]{
    border:1px solid black;
}
[bd-yellow]{
    border:1px solid yellow;
}
[t-margin]{
    margin-top: 10px;
}
[t-margin-20]{
    margin-top: 20px;
}
[t-margin-40]{
    margin-top: 40px;
}
[t-margin-80]{
    margin-top: 80px;
}
[b-margin-20]{
    margin-bottom: 20px;
}
[r-margin-10]{
    margin-right: 10px;
}
[pd-lr-20]{
    margin-left: 20px;margin-right: 20px;
}
[pd-tb-20]{
    padding-top: 20px;padding-bottom: 20px;
}
[pd-tb-40]{
    padding-top: 40px;padding-bottom: 40px;
}
[reduce-padding]{
    padding: 12px;
}
[reduce-padding]>div{
    padding: 0px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
    [mobile-no-padding]{
        padding: 0px;
    }
    [mobile-omit]{
        display: none;
    }
    [mobile-center]{
        text-align: center;
    }
    [mobile-show]{
        display: inline;text-align: center;
    }
}

/* ====== Global setting */
body{
    background: #fff;font-family: 'Lato', sans-serif;
}
p{
    color: #666;line-height: 30px;font-size:20px;
}
b {
    color: $font-color;font-weight: 800;text-align: center;
}
a{
    color: inherit;text-decoration: none;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
a:hover{
    cursor: pointer;
}
a:active{
    cursor: pointer;
}
input[type='text'], input[type='email'], input[type='password']{
    width:100%;
    border: 0;border-bottom:1px solid #ddd;
    text-align: center;color: #666;font-size:18px;
    padding: 5px 30px;line-height: 20px;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
input[type='text']:focus, input[type='email']:focus, input[type='password']:focus{
    // background: #eee;
}



/* ====== Text setting ====== */
.section-title{
    color:#666;font-weight:100;padding:10px;
    text-shadow:0px 0px 2px #666;
}
.section-title-xlarge{
    font-size: 50px;
}
.section-title-large{
    font-size: 40px;
}
.section-title-mid{
    font-size: 30px;
}
.section-title.section-title-small{
    font-size: 20px;color: #333;
}
.section-title-thank{
    color: #52AF50;font-weight: 500;
}

/* =============== Buttons ============== */
.button{
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    text-align:center;
}
.button:hover{
    cursor: pointer;
}
/* .button-color */
.button-blue{
    background: #3CACF0;color: #fff;
}
.button-blue:hover{
    background: #3599D7;
}
.button:active{
    -moz-box-shadow:    inset 0 0 10px #999;
    -webkit-box-shadow: inset 0 0 10px #999;
    box-shadow:         inset 0 0 10px #999;
}
.button-green{
    background: $font-color;color: #fff;
}
.button-green:hover{
    background: #16d601;color: #fff;
}
/* .button-size */
.btn-default{
    background: #ddd;color: #666;padding:10px 10px;
}

.button-large{
    font-size: 25px;border-radius:5px;
    padding: 15px 25px;margin:20px;
}
.button-mid{
    font-size: 20px;padding:10px 20px;border-radius:5px;
}
.button-small{
    font-size: 16px;padding: 10px 20px;border-radius: 5px;
}
.button-inline{
    border-radius:5px;padding: 5px 15px;background: #ddd;
    display: inline-block;color: #666;
}
.button-inline:hover{
    background: #eee;box-shadow: none;
}
/* .button-special */
.button-disabled{
    background: #666;color:#fff;
}
/* tag */
.tag {
    border-radius: 3px;text-align: center;
    display: inline-block;
    border:2px solid transparent;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}.tag:hover{
    cursor: pointer;border:2px solid #0F9400;
}
.tag:active{
    box-shadow:         inset 0 0 4px #aaa;
}

/* tag-size */
.tag-default{
    font-size: 20px;padding: 5px 12px; margin:10px 10px;
}

.tag-short{
    max-width: 80px;
}

/* tag-color */
.tag-gray{
    color: #666;background: #f4f4f4;
}

/* tag-special */
.tag-inline{
    display: inline-block;
}
.tag.activated {
    background: $font-color;color:#fff;
}

/* ====== .angular-animate ====== */
.ng-hide{
    opacity: 0
}
.ng-show{
    opacity: 100
}

@media only screen
and (min-device-width : 960px){
    .text-default{
        font-size: 20px;
    }
    .text-large{
        font-size: 25px;font-weight:600;
    }
    .text-big{
        font-size: 30px;padding:10px;font-weight:600
    }
    .text-xlarge{
        font-size: 50px;
    }
    .text-xxlarge{
        font-size: 60px;
    }
    .text-small{
        font-size: 16px;
    }
    .text-xsmall{
        font-size: 14px;
    }
}

/* ====== text ====== */
/* text-size */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .tag-default{
        margin:10px 3px;font-size: 16px;
    }
    .section-title-xlarge{
        font-size: 35px;
    }
    .section-title-large{
        font-size: 25px;
    }
    .text-default{
        font-size: 18px;
    }
    .text-large{
        font-size: 21px;
    }
    .text-big{
        font-size: 23px;
    }
    .text-highlight{
        text-align: center;
    }
    .navbar{
        padding:15px 0px;
    }
    .navbar-brand.navbar-logo{
        font-size: 40px;color:#fff;
    }.navbar-brand.navbar-logo:hover{
        color: #fff;
    }
    /* hide add-order button. when on small devices */
    li.add-order{
        display: none;
    }
}

@media only screen
and (min-device-width : 480px)
and (max-device-width : 960px){
    .tag-default{
        margin:10px 3px;font-size: 16px;
    }
    .text-default{
        font-size: 15px;
    }
    .text-large{
        font-size: 20px;font-weight:600;
    }
    .text-big{
        font-size: 25px;padding:5px;font-weight:600
    }
    .text-xlarge{
        font-size: 40px;
    }
    .text-xxlarge{
        font-size: 50px;
    }
    .text-small{
        font-size: 13px;
    }
    .text-xsmall{
        font-size: 12px;
    }
}



/* text-color */
.text-gray{
    color: #666;
}
.text-green{
    color: $font-color;
}
.text-light-gray{
    color: #999;
}
.text-white{
    color: #fff;
}
.text-less-white{
    color: #ddd;
}
.text-less-gray{
    color: #999;
}


/* text-special */
.text-highlight{
    background: #f4f4f4;
}
.text-alert{
    font-size: 16px;color: #fa4144;
}
.text-bold{
    font-weight: 600;
}


/* Nice css to prevent default text selection when double clicking */
[no-selection]{
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

[mobile-show]{
    display: none;
}

