// bower:scss
@import "../../bower_components/angular-material/angular-material.scss";
// endbower

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  // height: auto;
  height: 100%;
}

body {
  // overflow-y: hidden;
  // background-color: #e5e5e5 !important;
  min-height: 100%;
  height: auto;
  @extend [layout-align="center center"];
}

.full-height {
  min-height: 100%;
  height: auto;
}

sign-in {
  @extend [layout=column];
  @extend [layout-align="center"];
}

orders {
  @extend [layout-fill];
}

wrapper {
  @extend [layout-align="center center"];
  @extend [layout-fill];
  @extend [flex];
  @extend .full-height;
}

wrapper-content {
  @extend [layout-align="start center"];
  @extend [layout-fill];
  @extend [flex];
}

#order-page-wrapper {
  @extend [layout-fill];
  @extend [flex];
  @extend [layout=column];
  min-height: 500px;
}

[gravatar-src-once] {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 50%;
    height: 50%;
}

#intro-pic{
  @extend md-card;
  -webkit-transition:all ease 0.7s;
  transition:all ease 0.7s;
  -webkit-animation: slide_in 0.7s;
  animation: slide_in 0.7s;
  box-shadow: none;
}

/* ======== Navbar ======== */
.md-toolbar-tools.lunchea {
     max-height: 100px;height: 70px;
     padding: 10px;
     background: #fff;
     border-bottom: 1px solid #eee;
     box-shadow: 0px 2px 2px #eee;
 }


logo {
    background-image: url("../images/logo.png");
    background-repeat:no-repeat;
    background-size: 100%;
    height: 60px;width: 60px;
    margin-right: 20px;
    display: inline-block;
}

.navbar-tools {
  @extend .md-toolbar-tools;
  & > :nth-child(2) {
    color: #FB0;
    font-size: 1.3em;
  }
  & a {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  & a:hover {
    color: #499AD4;
  }
}

footer {
  min-height: 300px;
  logo {
    height: 80px;
    width: 80px;
    display: block;
  }
}

footer > ul {
  list-style-type: none;
  & > li{
    display: inline-block;
  }
}

footer{
  color: #aaa;
    background: #fdfdfd;width: 100%;padding:10px 20px 0px 20px;
}

footer>div>div{
    padding: 20px 20px;
    display: inline-block;min-width: 120px;
}