.order-confirm-welcome{
    font-size:40px;color:#999;padding: 30px;text-align:center;
}

.button.button-cancel{
    color: #666;background: #eee;border: 1px solid #ddd;
}
.button.button-cancel:hover{
    background: #FA787E;color:#fff;
}
.button.button-confirm{
    color: #666;background: #ccc;
}
.button.button-confirm:hover{
    background: #FA787E;color:#fff;
}
.button.button-disabled{
    color: #666;background: #ccc;
}