.store-picker {background:#900 !important}
.tab.active {background:#900 !important}
.text-step {background:#333 !important}
.text-big {color:#FFF !important}
.text-large {color:#FFF}
#panel-order-summary .text-large {color:#333 !important}
.store {border-radius:5px; color:#999; min-width:180px; padding:10px}
.store.active {border:2px solid #700;background:#700}
.store:hover {border:2px solid #700; background:#700; color:#FFF}
.order-policy {border:2px solid #900; background:#f4f4f4}
.order-policy .text-bold {font-size:18px}
.order-policy a {padding:0px; font-size:18px}
.order-policy a:link, .order-policy a:visited {text-decoration:underline !important;}
.order-policy a:hover {color:#000; background:none;}
.button-blue {background-color:#333}
.button-blue:hover {background-color:#000}
.order-menu {margin-top:50px !important}
.button-add:hover {background:#333}
.button-minus:hover {background:#900}
.tag.activated {background:#900}
.tag:hover {border:2px solid #900}
[b-margin-20] .text-large {color:#333 !important}
b {color:#900}
a:hover {padding:0 !important; background:none;}

#panel-order-summary {background:#EEE !important}
.order-summary-item-remove, .order-summary-item-add {background:#FFF !important; border:1px solid #FFF !important}
.order-summary-item {background:#fff !important; border:1px solid #fff;}
.order-summary-item-quantity {background:#333}
#panel-order-summary .fa {color:#666}
.order-summary-item-remove:hover, .order-summary-item-add:hover {background:#900 !important; border:1px solid #900 !important;}
.order-summary-item-remove:hover .fa, .order-summary-item-add:hover .fa {color:#FFF !important}
.order-summary-items {overflow:auto !important}
.order-summary-item:hover {background:#900 !important; border:1px solid #900; color:#fff !important}
.order-menu-item .text-large {color:#900 !important;}