.form_auth {
	// width: 500px;
	height: auto;
	padding: 30px;
	border: 1px solid #eee;
	border-radius: 4px;
	margin: 0 auto 30px;
}


.section-contact-info{
    background: #f4f4f4;
    box-shadow: 0px 2px 5px #ddd;
    padding: 20px 40px
}
.user-contact-info{
    cursor: pointer;padding-left: 20px;padding-right: 20px;
}
.user-contact-info:hover{
    background: #ddd;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .some {}
    .section-contact-info[mobile-reduce-padding]{
        padding-left: 5px;padding-right: 5px;
    }
}