<footer layout='row' layout-sm='column'>
  <div layout='column' flex reduce-padding>
    <div class="text-xsmall" mobile-center>
      <!-- <i class='fa fa-at'></i> -->
      <logo></logo>
      <span>Copyright &copy 2015 LUNCHEA INC.</span>
      <br />
      <span> Proudly Made in NY</span>
      <br />
    </div>
  </div>
  <div class='text-small '
    reduce-padding mobile-center layout="column">
      <h3>Product</h3>
      <a ui-sref="pricerefundpolicy">
        Pricing Policy
      </a>
      <a ui-sref="rpartner">
        Restaurant Partner
      </a>
      <a href="" class=''>
        Terms of Use
      </a>
      <a ui-sref="privacypolicy" class=''>
        Privacy Policy
      </a>
  </div>
  <div class='text-small '
    reduce-padding mobile-center layout="column">
      <h3>Company</h3>
      <a href="">About Us</a>
      <a href="http://blog.lunchea.com">
        Blog
      </a>
      <a ui-sref="joinus">
        Career
      </a>
      <a href="mailto:support@lunchea.com">
        Contact
      </a>
  </div>
  <div class='text-small '
    reduce-padding mobile-center layout="column">
      <h3>Help</h3>
      <a href="" ui-sref="feedback">
        Feedback
      </a>
      <a href="" ui-sref="faq">
        FAQ
      </a>
  </div>
  <div class='text-small '
    reduce-padding mobile-center layout="column">
      <h3>Connect</h3>
      <a href="https://www.facebook.com/profile.php?id=100009122521995">
        Facebook <i class="fa fa-facebook"></i>
      </a>
      <a href="https://instagram.com/lunchea_/">
        Instagram <i class="fa fa-instagram"></i>
      </a>
  </div>
</footer>
