<md-toolbar conditional-show md-theme="white" style='display:none;box-shadow:none;border:1px solid #ddd;' ng-if="from==''">
  <div class="navbar-tools">
    <a ui-sref="root"><logo></logo></a>
    <a hide-sm ui-sref="root">Lunchea</a>

    <span flex></span>

    <a class='button  button-mid' ng-click='route()'>
      <img gravatar-src-once="currentUser.get().email" ng-show="auth.isAuthenticated()">
      <span ng-show="!auth.isAuthenticated()">
        Register
      </span>
    </a>

    <a class='button  button-mid' ui-sref="login" ng-show="!auth.isAuthenticated()">
      <span>Login</span>
    </a>

  </div>
</md-toolbar>
