<div layout="column">
  <div layout="row" layout-align='center'>
    <i class="fa fa-email">@</i>
    <!-- email input -->
    <input type='email' name='email' placeholder='Email'
        ng-model='order.email' autocomplete="on" x-autocompletetype="email"
        ng-pattern='/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/' required>
  </div>
  <div class='text-default text-alert'
      ng-show='customerInfoForm.email.$error.pattern && regexEmail.test(customerInfoForm.email.$viewValue)'
      style='position: absolute;'>
      Your email contains invalid characters.
  </div>
  <div class='text-default text-alert'
      style='position: absolute;'
      ng-show='layout.input_is_error
      && !regexEmail.test(customerInfoForm.email.$viewValue)'>
      Please fill in valid email address.
  </div>
</div>
