<div layout="column">
  <div layout="row" layout-align='center'>
    <i class="fa fa-phone"></i>
    <!-- phone input -->
    <input type='text' name='phone' placeholder='Phone Number(10 digits)'
        ng-model="order.phone"
        ng-minlength='10' ng-maxlength='10'
        ng-pattern='/^[0-9]{10}$/'
        required>
  </div>
  <div class='text-default text-alert'
      ng-show='customerInfoForm.phone.$error.pattern
          && regexPhone.test(customerInfoForm.phone.$viewValue)'
      style='position: absolute;'>
      Your phone number contains invalid characters.
  </div>
  <div class='text-default text-alert'
      ng-show='customerInfoForm.phone.$error.pattern
          && customerInfoForm.phone.$viewValue.length > 10'
      style='position: absolute;'>
      Your phone number exceeds 10 digits.
  </div>
  <div class='text-default text-alert'
      ng-show='layout.input_is_error
          && !regexPhone.test(customerInfoForm.phone.$viewValue)'
      style='position: absolute;'>
      Please fill in a valid phone number.
  </div>
</div>