<!-- ============================================= -->
<!--         The order menu for each order         -->
<!-- ============================================= -->

<div class='order-menu' layout="column"
    mobile-narrow no-selection t-margin-80
    ng-show='delivery.ready()'>

  <!-- ======== Step instruction and search bar ======== -->
  <div layout="column" layout-gt-md='row'>

    <step-instruction step='2' total-steps='4'
        instruction="Pick your lunch from the menu">
    </step-instruction>

    <!--  Search bar -->
    <div b-margin-20 t-margin-20
        layout="row" layout-align='start center' flex>
      <div class="text-large" hide-sm style='margin-left:20px'>
        <b><i class="fa fa-search"></i>menu</b>
      </div>
      <div mobile-omit layout="row" layout-sm='horizontal'
          layout-align='start center' flex style='margin-left:20px'>
        <input type='text' ng-model="search" placeholder='chicken, spicy, shredded, ...'>
      </div>
      <div mobile-show mobile-center flex>
        <input type='text' placeholder='Search the menu'
            mobile-narrow mobile-center
            ng-model="search">
      </div>
    </div>
  </div>

  <!-- ======== The categorized menu ======== -->
  <div t-margin-20 ng-repeat="(cat, list) in delivery.sortedBoxes">
    <!-- Category names and descriptions -->
    <div class='text-large'>
      &nbsp;<span ng-bind="$index+1"></span>.&nbsp;<span ng-bind="cat"></span>
    </div>
    <!-- The actual menu items -->
    <order-menu-item mobile-narrow class='order-menu-item'
        ng-repeat="box in list | filter:{'category': cat}:false | filter : search : strict"
        ng-class='{selected: delivery.isSelected(box)}'>
    </order-menu-item>
  </div>

  <br/><br/>

  <!-- ========= Preference menu ========== -->
  <div ng-show="delivery.hasPreferences()" class='preference-menus'>
    <div layout='column' layout-gt-md='row' layout-align="start">
      <step-instruction step='2.5' total-steps='4'
          instruction="Customize your selections">
      </step-instruction>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class='text-highlight text-large text-green' flex
          style="padding-left:20px;padding-right:20px;"
          layout='column' layout-align='center'>
        <div ng-class="{'unsaturated': delivery.hasUnsaturatedPreferences()}">
          Please further specify your selections
          <span class="fa-stack fa-lg">
            <i style="color:#999;" class="fa fa-square-o fa-stack-2x"></i>
            <i ng-class="{'unsaturated': delivery.hasUnsaturatedPreferences()}" class="fa fa-check fa-stack-1x"></i>
          </span>
        </div>
      </div>
    </div>

    <!-- ========= Tabs =========== -->
    <div preference-menu-tab class="tabs text-small">
      <div ng-repeat='item in delivery.items' style='display:inline-block;margin-top:10px;margin-right:10px;'
        layout='row' layout-align='start center'>
        <div layout='row' layout-align='center'>
          <div layout='row' layout-align='center center'
              class='tab' style='margin:0px;box-shadow:none'
              ng-class="{active: layout.itemIndex == $index}"
              ng-click='switchToMenu($index)'>
            <span ng-bind="$index + 1"></span>.&nbsp;
            <span ng-bind="item.box.name | truncate: 20"></span>
          </div>

          <div style='background:#f4f4f4;color:red;padding:0px 5px;cursor:pointer'
              layout='column' layout-align='center'
              ng-click="remove_pref(pref, item, delivery)">
            <div>
              <i class="fa fa-minus"></i>
            </div>
          </div>

        </div>
      </div>
    </div>

    <br/><br/>

    <!-- Preference Menus -->
    <preference-menu mobile-narrow
        item="delivery.items[layout.itemIndex]"
        ng-class='{selected: true}'>
    </preference-menu>
  </div><!-- Preference menu End -->
</div>