<!-- ========================== -->
<!-- ====== Store picker ====== -->
<!-- ========================== -->
<div class='store-picker' mobile-reduce-padding
    layout='column' layout-gt-md='row'
    ng-cloak>
  <div class='remove-order' layout='row' layout-align='end'>
    <div ng-click='order.removeDelivery($index, switchToOrder)'
        ng-show='order.deliveries.length > 1'>
      <i class='fa fa-trash cancel'>&nbsp;Remove order</i>
    </div>
  </div>
  <!-- Little button at the corner to remove current order -->
  <div reduce-padding
      layout='column' layout-md='row' layout-align='start center'>
    <div class='text-big' style='margin-left:10px'>Restaurant:</div>
    <div class='text-default text-less-white' style='margin-left:10px'>
      Pick a restaurant for this delivery.
    </div>
  </div>
  <div layout-sm='column' layout='row' layout-align='start'>
    <div ng-repeat="type in ['Lunch', 'Dinner']">
      <div class='text-big' style='text-align:center'
          ng-bind="type">
      </div>
      <div>
        <div class='store'
            mobile-reduce-padding
            ng-repeat="store in stores|reverse"
            ng-show="store.type == type"
            ng-click='delivery.pickStore(store)'
            ng-class='{active: delivery.store_id == store.id}'>
          <div class='text-large' ng-bind="::store.name" style='border-bottom:1px solid #ccc;padding-bottom:5px;margin-bottom:10px;'></div>
          <div class="text-less-white">
            <span><i class="fa fa-clock-o"></i>&nbsp;</span><span ng-bind="store.delivered_at|date: 'h:mm a'"></span>
          </div>
          <div class="text-less-white">
            <i class="fa fa-map-marker"></i>&nbsp;&nbsp;<span ng-bind="store.delivery_address"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ========================== -->
<!-- ====== order sector ====== -->
<!-- ========================== -->
<div class="order-items-wrapper" mobile-no-padding
    layout='column' layout='start center' >

  <!-- ======== Date picker ======== -->
  <date-picker ng-show='delivery.store_id' flex></date-picker>

  <!-- ======== Restaurant policy ======== -->
  <div ng-show='delivery.delivered_at && delivery.ready()' layout='row' layout='center'>
    <div class='order-policy' t-margin-20
        reduce-padding mobile-reduce-padding flex
         >
      <div layout='column' layout-gt-lg='row' layout-align='start center'>
        <div>
          <div class='text-big' style='padding-left:0px;'>
            <p>
              <b>Sale of the day / Min Delivery Sale : $ {{ delivery.store.sale || 0}} / $ {{delivery.store.min_delivery_sale }}  </b>
            </p>
            <b><i class="fa fa-exclamation-circle"></i>&nbsp;PICK UP INFO</b>
          </div>
          <div layout-gt-md='row' layout='column'>
            <div t-margin>
              <div class="text-small text-light-gray">Deliver at:&nbsp;</div>
              <div class='text-default text-bold' ng-bind="delivery.delivered_at|date: 'h:mma EEE, MMM d, yyyy'"></div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div t-margin>
              <div class='text-small text-light-gray'>
                Deliver to:&nbsp;
              </div>
              <div class='text-default'>
                <span>
                  <b><a style='text-decoration: none' target="_blank" ng-href="{{delivery.store.map_address}}">
                    <span ng-bind="delivery.store.delivery_address"></span> <i class="fa fa-map-marker"></i>
                  </a></b>
                </span>
              </div>
            </div>
            <span ng-if="delivery.delivered_at.getDate()==todayDate().getDate()"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div t-margin ng-if="delivery.delivered_at.getDate()==todayDate().getDate()">
              <div class="text-small text-light-gray">Last order:&nbsp;</div>
              <div class='text-default text-bold' ng-bind="delivery.store.email_at|date: 'h:mma'"></div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div t-margin>
              <div class='text-small text-light-gray'>Tips?</div>
              <div class='text-default text-bold'>
                No need.
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div t-margin ng-mouseover="map_is_show = true" ng-mouseleave="map_is_show=false" style='margin-left:20px;margin-right:20px;'>
          <a target='_blank'
            ng-href="{{delivery.store.map_address}}">
            <img style='cursor:pointer' height=120 ng-src="{{(delivery.store_id|storeInfo:stores).map_img}}">
          </a>
          <div ng-show='map_is_show' style='position:absolute;z-index:1'>
            <img ng-src="{{(delivery.store_id|storeInfo:stores).map_img}}">
          </div>
        </div>
      </div>
      <br/>
      <div ng-show="delivery.store.has_discount" class='text-large' style='color:#999;'>
        <i class='fa fa-info-circle'></i>&nbsp;First <b ng-bind="delivery.store.discount_max_count"></b> order enjoys a <b>$2</b> discount*! We have received <b ng-bind="delivery.store.discount_count"></b> orders, <b ng-bind="delivery.store.discount_max_count - delivery.store.discount_count"></b> more to go! <br>
        <span class="text-small">*Discount applied at checkout</span>
      </div>
    </div>
  </div>


  <!-- ==== menu ==== -->
  <order-menu layout='row'
      ng-show='delivery.delivered_at && delivery.ready()'>
  </order-menu>

  <!-- ================================= -->
  <!-- ======== Main sector end ======== -->
  <!-- ================================= -->

</div>