<div layout='column' layout-gt-md="row" flex>

  <!-- ====== instruction text ====== -->
  <div layout='column' layout-align='center' t-margin-20>
    <div class="text-step" layout="row" layout-align='start center'>
      <div>
        <div class='text-xxlarge'>1</div>
      </div>
      <div reduce-padding>
        <div class='text-large text-white'>
          Step 1/4
        </div>
        <div class='text-default text-less-white'>
          Pick delivery date for
          <span ng-if='order.deliveries.length > 1' style='font-weight:600'>delivery #<span ng-bind="$index + 1"></span></span>
          <span ng-if='order.deliveries.length == 1' style='font-weight:600'>your order</span>
        </div>
      </div>
    </div>
  </div>

  <div class='order-dates' mobile-lr-paddingless t-margin-20>
    <div class='tag tag-default tag-gray tag-inline tag-date'
        ng-repeat='date in delivery.store.dates' ng-click='pickDate(date, delivery)'
        ng-class='{activated: delivery.delivered_at.getDate() == date.getDate()}'>
      <div ng-bind="date | date: 'MM/dd'"></div>
      <div mobile-omit ng-bind="date | date: 'EEE'"></div>
    </div>
  </div>

</div><!-- ====== End date ====== -->