<div box-id="{{ box.id }}" layout="row" layout-align='space-between center'>
  <div layout="row" layout-align='start center' flex>
    <div class='text-large' style='padding-left: 10px;'>
      <b>$ <span ng-bind="box.price.fractional/100 | number: 2"></span></b>
    </div>
    <div class='order-menu-item-name' mobile-narrow flex>
      <div class='text-small' ng-bind="box.name"></div>
      <div class='text-small' ng-bind="box.chinese_name"></div>
    </div>
  </div>

  <div class='text-large'
      ng-show="addative" ng-bind="delivery.items_meta[box.id].quantity">
  </div>
  <div class='button button-minus' mobile-narrow
      ng-click='delivery.removeItem(box)'
      ng-show="addative">

    <i class='fa fa-minus'></i>
  </div>
  <div class='button button-add' mobile-narrow
      ng-click='delivery.addItem(box).$reveal()'>
    <i class='fa fa-plus'></i>
  </div>
</div>