<div id="panel-order-summary" class='panel-order-summary'
    ng-show='order.totalCost() > 0'
    ng-class="{'lower': (scroll < 20 && from == ''), 'iframe': (from == 'sbuforum')}">
  <div layout="row" layout-align='center center' flex>

    <div flex layout='row' layout-align='center center'>
      <!-- 'Your total' -->
      <div class='text-large' mobile-small>
        <span mobile-omit>Your total</span>
        <span mobile-show>Total</span>: <b>$ <span ng-bind="order.totalCost() | number : 2"></span> </b>
      </div>

      <!-- ======== Checkout button ======== -->
      <div>
        <div class="button button-small button-green" style='margin-right:40px;margin-left:20px;'
            mobile-narrow
            ng-click="showContact()">
          Checkout
        </div>
      </div>
    </div>

    <!-- ======== Detail-toggle button ======== -->
    <div layout='row' layout-align='end center'>
      <div layout="row" layout-align='center center' class='button'
          ng-click='layout.is_show_detail = !layout.is_show_detail'>
        <div mobile-omit ng-if='layout.is_show_detail'  class='text-small'> Less detail </div>
        <div mobile-omit ng-if='!layout.is_show_detail' class='text-small'> More detail </div>
        <div class='text-large' style='margin-left: 20px;'><i class="fa fa-bars"></i></div>
      </div>
    </div>
  </div>

  <!-- ======== The order summary ======== -->
  <div class='order-summary-items' ng-show='layout.is_show_detail'>
    <div ng-repeat='delivery in order.deliveries'>
      <panel order-summary-item ng-show='delivery.totalCost() > 0'></panel>
    </div>
  </div>
</div>