<div>
  <div class="text-default" style='display:inline-block'
      layout='column' layout-align="center">
    <b>Delivery # <span ng-bind="$index + 1"></span></b>
  </div>


  <!-- Loop through all items in the delivery -->
  <div ng-repeat='item in delivery.items'
      style='margin: 10px;display: inline-block'>

    <!-- An item summary with name and quantity -->
    <div style='display:inline-block'>
      <div layout='row'>
        <div ng-show="delivery.categories.indexOf('Sushi') == -1" class='order-summary-item-remove' layout='column'
            mobile-reduce-margin
            ng-click='delivery.removeItem(item.box)'>
          <div flex layout='column' layout-align='center'>
            <i class="fa fa-minus"></i>
          </div>
        </div>

        <div class='order-summary-item text-small'
            mobile-reduce-margin
            ng-click='scrollTo("[box-id=\"{{item.box.id}}\"]")'
            ng-bind="item.box.name | titlecase">
        </div>

        <div ng-show="delivery.categories.indexOf('Sushi') == -1" class='order-summary-item-add' layout='column'
            mobile-reduce-margin
            ng-click='delivery.addItem(item.box).$reveal()'>
          <div flex layout='column' layout-align='center'>
            <i class="fa fa-plus"></i>
          </div>
        </div>

        <div class='order-summary-item-quantity' layout='column'
            mobile-reduce-margin>
          <div flex layout='column' layout-align='center'>
            <div ng-bind="item.quantity"></div>
          </div>
        </div>

      </div>
    </div>

    <!-- selected/max_pref ratio -->
    <span style='padding:0px 5px;'>
      <i style='font-size:14px;' class="fa fa-cog"></i>
      <b ng-class="{'invalid': item.preferences.length < (item.box.max_preferences_number || 1)}">
        <span ng-bind="item.preferences.length" ng-class=""></span>/<span ng-bind="item.box.max_preferences_number || 1"></span>
      </b>
    </span>

    <div style='line-height:37px;display:inline-block;' ng-repeat='pref in item.preferences'>

      <!-- selected pref display -->
      <span style='font-size:14px;padding:5px 10px;margin:5px;background:#f4f4f4;' ng-bind="pref.value">
      </span>
    </div>


  </div>

</div>