<div pref-id="{{ pref_option.id }}" layout="row" layout-align='space-between center'>
  <div layout="row" layout-align='start center' flex>
    <div class='order-menu-item-name' mobile-narrow flex>
      <div class='text-small' ng-bind="pref_option.name"></div>
      <div class='text-small' ng-bind="pref_option.chinese_name"></div>
    </div>
  </div>
  <div class='text-large' ng-bind="item.pref_count(pref_option)">
  </div>
  <div class='button button-minus' mobile-narrow
      ng-click='item.removePref(pref_option)'>
    <i class='fa fa-minus'></i>
  </div>
  <div class='button button-add' mobile-narrow
      ng-click='item.addPref(pref_option)'>
    <i class='fa fa-plus'></i>
  </div>
</div>