<div ng-show="item">

  <h2 ng-bind="shit"></h2>
  <div class='pref-menu-instruction'>
    <div class='text-large'>Preference menu</div>
    <div class='text-small' style='color:#999;margin-top:5px;'>
      Please select
      <b style='font-size:24px;'>
        <span ng-bind="item.box.max_preferences_number || 1"></span>
      </b>
      options from the menu: <b style='font-size:24px;' ng-class="{'invalid': item.preferences.length < (item.box.max_preferences_number || 0)}">
      <span ng-bind="item.preferences.length" ng-class=""></span>/<span ng-bind="item.box.max_preferences_number || 0"></span></b> selected.
    </div>
  </div>
  <br/>
  <pref-menu-item
      ng-repeat="pref_option in item.box.preferences"
      class='order-menu-item pre-menu-item'
      mobile-narrow>
  </pref-menu-item>

</div>