<div class="text-step" flex-sm='100'
    offset='' offset-sm='5' layout="row" layout-align='start center'>
  <div>
    <div class='text-xxlarge' ng-bind="::step"></div>
  </div>
  <div reduce-padding>
    <div class='text-large text-white'>
      Step <span ng-bind="::step"></span>/<span ng-bind="::totalSteps"></span>
    </div>
    <div class='text-default text-less-white' ng-bind="instruction">
    </div>
  </div>
</div>