<h2>box</h2>
<pagination
  ng-model="boxes.$page"
  total-items="boxes.$total"
  total-pages="boxes.$pageCount"
  ng-change="page()"
></pagination>

<md-button ng-click="newBox()"> New Box</md-button>

<box-form ng-model="_box" ng-if="_box"></box-form>

<div style='padding:10px;' ng-repeat="(category, list) in sortedBoxes">
  <h2>{{category}}</h2>

  <div ng-repeat="box in list" style='padding:20px;border:1px solid #ddd;margin:10px;'>
    <box-form ng-model="box"></box-form>
  </div>
</div>
