<div style='padding:20px;'><h2>Orders</h2></div>

<style>
  pagination>div{
    padding: 0px 20px;
  }
</style>
<pagination
  ng-model="orders.$page"
  total-items="orders.$total"
  total-pages="orders.$pageCount"
  ng-change="page()"
></pagination>

<style>
  md-list{
    padding: 10px;
  }
  md-item-content{
    padding: 10px 10px;border: 1px solid #ddd;margin: 10px;
  }
  .deliveries-container{
    background: #f9f9f9;border: 1px solid #eee;
    padding: 20px;margin-top: 10px;margin-bottom: 10px;
  }
  .item{
    display: inline-block;
    border: 1px solid #ddd;padding: 10px;background: #fff;
  }

  .text-large{
    font-size: 20px;
  }
  .text-xlarge{
    font-size: 30px;
  }
  .text-light-gray{
    color: #999;
  }
  .text-blue{
    color: blue;
  }
  .text-red{
    color: red;
  }
  .button{
    padding: 8px 10px; font-size:18px;
    background-color: #4889F0;color: #fff;
    border: 1px solid #4889F0;
  }
  .button:hover{
    background: -webkit-linear-gradient(top,#3c7ae4,#3f76d3);
    background: #3c78dc;border:1px solid #4889F0;
}
</style>

<md-list>
  <md-item ng-repeat="order in orders">
  <md-item-content>
    <div class="md-tile-content">
    <!-- <h3>
      Access token: <strong ng-bind="order.access_token"></strong>
    </h3> -->

    <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
      <div class='text-light-gray'>Total $</div>
      <div class='text-xlarge text-blue' ng-bind="order.price"></div>
    </div>

    <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
      <div class='text-light-gray'>Delivery Dates</div>
      <div>
        <span class='text-xlarge text-blue'
            ng-repeat="delivery in order.deliveries">
            <bind ng-bind="delivery.delivered_at|date: 'MM/dd/yyyy'"></bind>
            <bind ng-bind="', '" ng-if="!$last"></bind>
        </span>
      </div>
    </div>

    <br/>

    <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
      <div class='text-light-gray'>Order id</div>
      <div class='text-large' ng-bind="order.id"></div>
    </div>

    <br/>

    <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
      <div class='text-light-gray'>Email</div>
      <div class='text-large' ng-bind="order.email"></div>
    </div>

    <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
      <div class='text-light-gray'>phone</div>
      <div class='text-large' ng-bind="order.phone"></div>
    </div>

    <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
      <div class='text-light-gray'>confirmed_at</div>
      <div ng-if="order.confirmed_at" class='text-large' ng-bind="order.confirmed_at|date: 'HH:mm a MM/dd/yyyy'"></div>
      <div ng-if="!order.confirmed_at" class='text-red text-large'>Not confirmed</div>
    </div>
    

    <div class='deliveries-container'
        ng-repeat="delivery in order.deliveries">

      <div>
        <div>
          <span class='text-large'>Delivery # {{ $index + 1}}</span>:&nbsp;<span class='text-large text-blue' ng-bind="delivery.delivered_at|date: 'MM/dd/yyyy'"></span> from <span class='text-large text-blue' ng-bind="stores_info[delivery.store_id]"></span>
        </div>
        <br/>
        <div>
          <div class='item' ng-repeat="item in delivery.items">
            <div class='text-large' ng-bind="item.box_name"></div>
            <div class='pref-container'>
              <div ng-repeat="pre in dataset"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br/>

    <span class='button' ng-click="order.$destroy()">delete</span>
    <span class='button' ng-click="order.cancel()">cancel</span>
    <span class='button' ng-click="order.confirm()">confirm</span>
  </md-item-content>
  </md-item >
</md-list>