<h2>Store</h2>
<pagination
  ng-model="stores.$page"
  total-items="stores.$total"
  total-pages="stores.$pageCount"
  ng-change="page()"
></pagination>
<md-button ng-click="newStore()">New Store</md-button>
<div ng-if="_store">
  <store-form-confirm ng-model="_store">
  </store-form-confirm>
</div>

<div ng-repeat="store in stores">
  <store-form-confirm ng-model="store"></store-form-confirm>
</div>
