<h2>user</h2>
<pagination
  ng-model="users.$page"
  total-items="users.$total"
  total-pages="users.$pageCount"
  ng-change="page()"
></pagination>
<md-button ng-click="newUser()"> New User</md-button>
<sign-up ng-model="_user" ng-if="_user"></sign-up>

<md-list>
  <md-item ng-repeat="user in users">
    <md-item-content>
      <div class="md-tile-left">
        <img gravatar-src-once="user.email" class="face" alt="{{user.email}}">
      </div>
      <div class="md-tile-content">
        <h3>{{user.email}}</h3>
        <h4>{{user.profile.username}}</h4>
        <p>
          {{user.profile.phone}}
        </p>
      </div>
    </md-item-content>
  </md-item>
</md-list>