<h2>Boxes</h2>
<!-- <pagination
  ng-model="boxes.$page"
  total-items="boxes.$total"
  total-pages="boxes.$pageCount"
  ng-change="page()"
></pagination> -->

<md-button class="md-raised md-primary" ng-click="newBox()">New Box</md-button>

<box-form-card ng-model="_box" ng-if="_box"></box-form-card>

<div style='padding:10px;' ng-repeat="(category, list) in sortedBoxes">
  <h2>{{category}}</h2>

  <div ng-repeat="box in list" style='padding:20px;border:1px solid #ddd;margin:10px;'>
    <box-form-card ng-model="box"></box-form-card>
  </div>
</div>