<div class='boxes-container' layout="row">
<!--   <md-input-container>
    <select ng-model="box.store_id" ng-options="store.id as store.name for store in stores"></select>
  </md-input-container>
 -->
  <div layout="column">
    <div layout>
      <md-input-container>
        <label>Name</label>
        <input ng-model="box.name"></input>
      </md-input-container>
      <md-input-container>
        <label>Chinese name</label>
        <input ng-model="box.chinese_name"></input>
      </md-input-container>
      <md-input-container>
        <label>Category</label>
        <input ng-model="box.category"></input>
      </md-input-container>
      <md-input-container>
        <label>Started_at</label>
        <input ng-model="box.started_at"></input>
      </md-input-container>
      <md-input-container>
        <label>Expired_at</label>
        <input ng-model="box.expired_at"></input>
      </md-input-container>
    </div>

    <div layout>

      <md-input-container>
        <label>Desc</label>
        <input ng-model="box.desc" md-maxlength="100"></input>
      </md-input-container>
      <md-input-container>
        <label>Price</label>
        <input ng-model="box.price.fractional" type="number" min = "0" value="box.price.fractional | currency"></input>
      </md-input-container>
      <md-input-container>
        <label>Max Pref Number</label>
        <input ng-model="box.max_preferences_number" type="number"></input>
      </md-input-container>
    </div>
    <br>
    <div>
      <md-button class="md-raised md-primary" ng-click="box.newPreference()"> + Preference</md-button>
      <div ng-if="box.preferences.length" style="width=50;">
        <br>
        <div layout="column">
          <div layout="row" flex="50" ng-repeat="(key, preference) in box.preferences | filter: {_destroy: '!true'}">
            <span style="padding-top:28px;padding-left:10px" flex="5">{{key}}</span>
            <md-input-container flex="40">
              <label>Name</label>
              <input ng-model="preference.name"></input>
            </md-input-container>
            <md-input-container flex="40">
              <label>Type</label>
              <input ng-model="preference.type"></input>
            </md-input-container>
            <md-button ng-click="preference.destroy()" flex="5" class="md-warn">X
            </md-button>
            <br>
          </div>
        </div>
      </div>
      <md-button class="md-raised md-primary" ng-click="box.$save()">Save</md-button>
    </div>
  </div>
  <div layout = "column" style="width:5px">
    <md-button ng-click="box.destroy()" class="md-warn" style="float:right position:absolute;margin-right:-30px;margin-top:-15px">X</md-button>
  </div>
</div>