<div class='boxes-container'>
  <md-input-container>
    <select ng-model="box.store_id" ng-options="store.id as store.name for store in stores"></select>
  </md-input-container>

  <div layout>
    <md-input-container>
      <label>Name</label>
      <input ng-model="box.name"></input>
    </md-input-container>
    <md-input-container>
      <label>Chinese name</label>
      <input ng-model="box.chinese_name"></input>
    </md-input-container>
    <md-input-container>
      <label>Category</label>
      <input ng-model="box.category"></input>
    </md-input-container>
    <md-input-container>
      <label>Started_at</label>
      <input ng-model="box.started_at"></input>
    </md-input-container>
    <md-input-container>
      <label>Expired_at</label>
      <input ng-model="box.expired_at"></input>
    </md-input-container>
    </div>

    <div layout>

    <md-input-container>
      <label>Desc</label>
      <input ng-model="box.desc" md-maxlength="100"></input>
    </md-input-container>
    <md-input-container>
      <label>Price</label>
      <input ng-model="box.price" type="number"></input>
    </md-input-container>
    <md-input-container>
      <label>Max Pref Number</label>
      <input ng-model="box.max_preferences_number" type="number"></input>
    </md-input-container>
  </div>
  <md-button ng-click="box.newPreference()"> + Preference</md-button>
  <div layout ng-repeat="(key, preference) in box.preferences | filter: {_destroy: '!true'}">
    <span flex>{{key}} </span>
    <md-input-container flex>
      <label>Name</label>
      <input ng-model="preference.name"></input>
    </md-input-container>
    <md-input-container flex>
      <label>Type</label>
      <input ng-model="preference.type"></input>
    </md-input-container>
    <md-button ng-click="preference.destroy()" flex
      class="md-raised md-warn">Remove
    </md-button>
  </div>

  <md-button class="md-raised md-primary" ng-click="box.$save()">Save</md-button>

</div>