<div class="stores-container">
  <div ng-if="_store" layout="column">
    <store-form ng-model="_store"></store-form>
  </div>
  <div layout="column">
    <store-form-template></store-form-template>
    <div layout="row">
      <div layout="row" ng-if-"store.confirmed_at">
        <label>Confirmed at</label>
        <div ng-bind="store.confirmed_at"></div>
      </div>
    </div>
    <div layout="row">
      <md-button class="md-raised md-primary" ng-click="store.confirm()">Confirm</md-button>
      &nbsp
      <md-button class="md-raised md-primary" ng-click="store.$save()">Save</md-button>
      &nbsp
      <md-button class="md-raised md-primary" ng-click="store.cancel()">Delete</md-button>
    </div>
  </div>
</div>