<div layout="row" flex>
  <md-input-container flex="50">
    <label>Name</label>
    <input ng-model="store.name"></input>
  </md-input-container>
  <md-input-container flex="50">
    <label>Email</label>
    <input ng-model="store.email" type="email" style='text-align:left;padding-left:0px;'></input>
  </md-input-container>
</div>
<div layout="row" flex>
  <md-input-container flex="50">
    <label>Email time</label>
    <input ng-model="store.email_at" type="time"></input>
  </md-input-container>
  <md-input-container flex="50">
    <label>Delivery time</label>
    <input ng-model="store.delivered_at" type="time"></input>
  </md-input-container>
</div>
<div layout="row" flex>
  <md-input-container flex="50">
    <label>Delivery address</label>
    <input ng-model="store.delivery_address" style='text-align:left'></input>
  </md-input-container>
  <md-input-container flex="50">
    <label>Min delivery sale</label>
    <input ng-model="store.min_delivery_sale"></input>
  </md-input-container>
</div>
