<div layout="column" class="stores-container">
  <store-form-template></store-form-template>
  <div layout="row">
    <md-button class="md-raised md-primary" ng-click="store.$save()">Save</md-button>
    &nbsp
    <md-button class="md-raised md-primary" ng-click="store.cancel()">Delete</md-button>
  </div>
</div>