<md-tabs md-selected="data.selectedIndex">
  <md-tab id="tab1" ui-sref="dashboard">
    Home
  </md-tab>
  <md-tab id="tab2" ui-sref="dashboard.orders">
    My orders
  </md-tab>
  <md-tab id="tab3" ui-sref="dashboard.stores.list" ng-show="stores.length >= 1">
    My stores
  </md-tab>
  <md-tab id="tab4" ng-click="auth.logout()">
    Sign out
  </md-tab>
</md-tabs>

<div layout='row' layout-align='center'>
  <div layout='column' flex="100" flex-gt-md='80'>
    <div layout="column" t-margin-40>
      <ui-view>
        <div class='section-title section-title-large'>Welcome</div>

        <div class='section-contact-info' t-margin-20
            mobile-reduce-padding>
          <div class='text-large'>Contact information</div>

          <div class='text-default'>
            Fill up your information here to autocomplete your orders. Click each item to modify.
          </div>

          <div class='text-default'>

            <div layout-sm='column' layout='row' layout-align='start center'>
              <div t-margin-20>
                <b><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Email</b>:
                {{ currentUser.get().email }}
              </div>
            </div>

            <div t-margin-20
                >
              <b><i class="fa-phone fa">&nbsp;&nbsp;</i>Phone number</b>:
              <span class='user-contact-info'
                  ng-hide="editPhone" ng-click='switchPhone()'>
                {{ currentUser.get().profile.phone }}
              </span>
              <span ng-show="editPhone" >
                <input type='text' ng-model="currentUser.get().profile.phone">
                <span class='button button-inline button-small' ng-click="savePhone()">Save</span>
                <span class='button button-inline button-small' ng-click="switchPhone()">Cancel</span>
              </span>
            </div>

            <div t-margin-20>
              <b><i class="fa-user fa"></i>&nbsp;&nbsp;Your name</b>:
              <span class='user-contact-info'
                  ng-hide="editUsername" ng-click="switchUsername()">
                {{ currentUser.get().profile.username }}
              </span>
              <span ng-show="editUsername">
                <input type='text' ng-model="currentUser.get().profile.username">
                <span class='button button-inline button-small' ng-click="saveUsername()">Save</span>
                <span class='button button-inline button-small' ng-click="switchUsername()">Cancel</span>
              </span>
            </div>
          </div>
        </div>
        <br>
        <span>
          <span ng-if="stores.length===0">
            Restaurant owners, register your restaurant <span>
          <span ng-if="stores.length >= 1">
            Add another restaurant <span>
          <a ui-sref="dashboard.stores.new"><b>here</b></a>!
        </span>

      </ui-view>
    </div>

  </div>
</div>