<style>
  md-list{
    padding: 10px;
  }
  md-item-content{
    padding: 10px 10px;border: 1px solid #ddd;margin: 10px;
  }
  .deliveries-container{
    padding: 20px;margin-top: 10px;margin-bottom: 10px;
  }
  .boxes-container{
    padding: 10px;
  }
  .stores-container{
    padding: 10px 10px;border: 1px solid #ddd;margin: 10px;
  }
  .item{
    display: inline-block;
    border: 1px solid #ddd;padding: 10px;background: #fff;
  }

  .text-large{
    font-size: 20px;
  }
  .text-xlarge{
    font-size: 30px;
  }
  .text-light-gray{
    color: #999;
  }
  .text-blue{
    color: blue;
  }
  .text-red{
    color: red;
  }
  .button{
    padding: 8px 10px; font-size:18px;
    background-color: #4889F0;color: #fff;
    border: 1px solid #4889F0;
  }
  .button:hover{
    background: -webkit-linear-gradient(top,#3c7ae4,#3f76d3);
    background: #3c78dc;border:1px solid #4889F0;
  }
</style>

<md-tabs id="tabs1" flex>
  <md-tab ng-repeat="store in stores" label="{{store.name}}" ng-init="content = 'deliveries'">
    <md-button id="deliveries" class="md-raised" ng-click="content = 'deliveries'">Deliveries</md-button>
    <md-button id="menu" class="md-raised" ng-click="content = 'menu'">Menu</md-button>
    <md-button id="settings" class="md-raised" ng-click="content = 'settings'">Settings</md-button>
    <delivery-form ng-model="store" ng-show="content == 'deliveries'"></delivery-form>
    <box-form-user ng-model="store" ng-show="content == 'menu'"></box-form-user>
    <store-form ng-model="store" ng-show="content == 'settings'"></store-form>
  </md-tab>


</md-tabs>
