<div>
  <md-button ng-disabled="noPrevious()" ng-click="selectPage(1)">first
  </md-button>

  <md-button ng-disabled="noPrevious()" ng-click="selectPage(page - 1)">previous
  </md-button>

  <md-button ng-repeat="page in pages track by $index"
      ng-class="{'md-raised md-primary': page.active}"
      ng-click="selectPage(page.number)" ng-bind="page.text">
  </md-button>

  <md-button ng-disabled="noNext()" ng-click="selectPage(page + 1)">next
  </md-button>

  <md-button ng-disabled="noNext()" ng-click="selectPage(totalPages)">last
  </md-button>

</div>