<form ng-submit="purchase()">
  <md-input-container>
    <label>Card Number</label>
    <input ng-model="card.number" value="4111111111111111"/>
  </md-input-container>
  <md-input-container>
    <label>Type</label>
    <input ng-model="card.type" value="visa"/>
  </md-input-container>
  <md-input-container>
    <label>Month</label>
    <input ng-model="card.month" />
  </md-input-container>
  <md-input-container>
    <label>year</label>
    <input ng-model="card.year" />
  </md-input-container>
  <md-input-container>
    <label>First Name</label>
    <input ng-model="card.first_name" value="10/20" />
  </md-input-container>
  <md-input-container>
    <label>Last Name</label>
    <input ng-model="card.last_name" value="10/20" />
  </md-input-container>
  <md-button type="submit">Pay</md-button>
</form>