<!doctype html>
<html class="no-js" ng-app="lunchboxApp" lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Lunchea | Have an amazing lunch!</title>
    <meta name="description" content="Dedicated to improving the ease of obtaining a variety of amazing food for students and peoples alike."/>
    <meta property="og:title" content="Lunchea | Great food"/>
    <meta property="og:url" content="http://www.lunchea.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://www.lunchea.com/images/bg.947a128c.png"/>
    <meta name="viewport" content="width=device-width"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/main-style.css">
    <link rel="stylesheet" href="styles/index-style.css">
    <link rel="stylesheet" href="styles/lunchbox-style.css">
    <link rel="stylesheet" href="styles/order-confirm-style.css">
    <link rel="stylesheet" href="styles/user-auth-style.css">
    <!-- endbuild -->

  </head>
  <body layout="column">
    <!-- Use SBU forum's css when the :from parameter is "sbuforum" -->
    <link ng-if="from == 'sbuforum'" rel="stylesheet"
        href="https://sbuforum.com/static/css/lunchea.css">
    <alert></alert>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <navbar></navbar>

    <!-- ====== Main content -->
    <wrapper layout="column">

        <wrapper-content style="background: transparent;z-index:0" ui-view=""></wrapper-content>

    <!-- ======== Footer ======== -->
    <!-- Display original footer when visiting the original site -->
    <div footer></div>

    </wrapper>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-56201652-1');
       ga('send', 'pageview');
    </script>

    <!-- build:js scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="../bower_components/es5-shim/es5-shim.js"></script>
    <script src="../bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/json3/lib/json3.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>
    <script src="../bower_components/angular-gravatar/build/md5.js"></script>
    <script src="../bower_components/angular-gravatar/build/angular-gravatar.js"></script>
    <script src="../bower_components/ngstorage/ngStorage.js"></script>
    <script src="../bower_components/satellizer/satellizer.js"></script>
    <script src="../bower_components/angular-inflector/dist/angular-inflector.min.js"></script>
    <script src="../bower_components/angular-restmod/dist/angular-restmod-bundle.min.js"></script>
    <script src="../bower_components/angular-restmod/dist/plugins/paged.js"></script>
    <script src="../bower_components/angular-restmod/dist/plugins/debounced.js"></script>
    <script src="../bower_components/mockjs/dist/mock.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/router.js"></script>
    <script src="scripts/controllers/order.js"></script>
    <script src="scripts/controllers/users.js"></script>
    <script src="scripts/services/menu.js"></script>
    <script src="scripts/services/alert.js"></script>
    <script src="scripts/mock-test.js"></script>
    <script src="scripts/directives/layout.js"></script>
    <script src="components/settings.js"></script>
    <script src="components/services.js"></script>
    <script src="components/auth/auth.js"></script>
    <script src="components/common/common.js"></script>
    <script src="components/boxes/boxes.js"></script>
    <script src="components/delivery/delivery.js"></script>
    <script src="components/orders/orders.js"></script>
    <script src="components/stores/stores.js"></script>

    <!-- endbuild -->

</body>
</html>
