<style type="text/css">
  .alert-wrapper{
    position:fixed;
    bottom:50px;left:20px;
    z-index:1;
    box-shadow: 0px 2px 5px #aaa;
  }
  .alert-wrapper.slide-up{
    -webkit-transition:all 0.4s;
    transition:all 0.4s;
  }
  .slide-up.ng-show{
      opacity: 1;
      bottom:50px;
  }
  .slide-up.ng-hide{
      opacity: 0;
      bottom:-50px;
  }
  .alert{
      display: inline-block;
      opacity: 0.8;border-radius: 2px;
      color: #fff;padding: 20px 20px;
      cursor: pointer;opacity: 0.8;
  }
  .alert-msg{
      background: black;font-weight: 600;
  }
  .alert-error{
      background: red;font-weight: 600;
  }
</style>

<div class="alert-wrapper slide-up"
  ng-show='alert.show'
  ng-click="closeAlert()">
  <div ng-show='alert.msg' layout='row' layout='center center'>
    <div class='alert alert-msg'> <i class="fa fa-cog fa-spin fa-lg"></i> &nbsp;<span ng-bind="alert.msg"></span></div>
  </div>
  <div ng-show='alert.error' layout='row' layout='center center'>
    <div class='alert alert-error'> <i class="fa fa-exclamation-circle fa-lg"></i> &nbsp; <span ng-bind="alert.error"></span></div>
  </div>
</div>