<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form validate accept-charset="UTF-8" role="form" name="authForm" ng-submit="signIn()">

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="credentials.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="credentials.password">
      </label>
    </div>
    <button class="button button-full button-positive">
      Login
    </button>
    </form>
  </ion-content>
</ion-modal-view>