<ion-view view-title="Store">
  <ion-nav-buttons side="right">
    <button class="button" ui-sref="tab.order">
      Cart
      <span class="badge badge-positive"
        ng-bind="order.deliveries.length"></span>
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card" ng-repeat="store in stores"
      ui-sref="tab.date"
      ng-click="delivery.pickStore(store)">
      <div class="item item-divider">{{store.name}}</div>
      <div class="item item-body">
        <div>
          Deliver at:  {{store.delivered_at}}
        </div>
        <div>To: {{store.delivery_address}}</div>
        <div>
          Order before: {{store.email_at}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
