<ion-view view-title="Order">
  <ion-content class="padding">

    <button ng-click="newDelivery()"
      class="button button-block"
      ui-sref="tab.store">new delivery
    </button>

    <div class="list card" ng-if="saveError">
      Cannot Submit Your Order. Please check your order and try again.
    </div>
    <div class="list card" ng-repeat="delivery in order.deliveries">
      <div class="item item-divider">
        {{delivery.delivered_at}}
        <a class="tab-item" ng-click="order.deliveries.splice(order.deliveries.indexOf(delivery), 1)">
          <i class="icon ion-ios7-trash-outline"></i>
          delete
        </a>
      </div>
      <div class="item item-body">
        <div>
          Deliver at:  {{delivery.store.delivered_at}}
        </div>
        <div>To: {{delivery.store.delivery_address}}</div>
        <div>
          Order before: {{delivery.store.email_at}}
        </div>
      </div>
      <a class="item" ng-repeat="item in delivery.items"
        ng-click="setItem(item) && setDelivery(delivery)" ui-sref="tab.item">
        {{item.box.name}} X {{item.quantity}}
      </a>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ui-sref="tab.box"
          ng-click="setDelivery(delivery)">
          <i class="icon ion-plus"></i>
          add
        </a>
      </div>

    </div>

  <label class="item item-input">
    <input type="email" placeholder="Email" ng-model="order.email">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Phone" ng-model="order.phone">
  </label>

    <button ng-click="order.$save()"
      class="button button-block">
      Submit Order
    </button>

  </ion-content>
</ion-view>
