<ion-view view-title="Account">
  <ion-content>

    <div ng-if="!$auth.isAuthenticated()">

    <button class="button button-full button-positive" ng-click="login()">
      Please Login
    </button>


    </div>

    <div ng-if="$auth.isAuthenticated()">
      <ion-list>
        <ion-item>
          {{currentUser().email}}
        </ion-item>
        <ion-item>
          {{currentUser().profile.phone}}
        </ion-item>
        <ion-item>
          {{currentUser().profile.username}}
        </ion-item>
      </ion-list>
      <button class="button button-full button-alert"
        ng-show="isAuthenticated()"
        ng-click="logout()">
        logout
      </button>
    </div>
  </ion-content>
</ion-view>
