<ion-view view-title="Box">
  <ion-nav-buttons side="right">
    <button class="button" ui-sref="tab.order">
      Cart
      <span class="badge badge-positive"
        ng-bind="order.deliveries.length"></span>
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">

    <ion-list>
<!--       <div class="item item-icon-left item-icon-right">

        <i class='icon ion-ios7-minus'
          ng-click='item.quantity = item.quantity - 1'
          ng-if="!box.max_preferences_number"></i>
        <span ng-bind="item.quantity"></span>
        <i class='icon ion-ios7-plus'
          ng-click='item.quantity = item.quantity + 1'>

        </i>
      </div> -->

      <span ng-repeat="(category, list) in delivery.sortedBoxes">
      <div class="item item-divider">
        {{category}}
      </div>
      <ion-item
        ng-repeat="box in list"
        ng-click="choose(box)"
        ui-sref="tab.item"
        class="item item-icon-right">

        {{box.name}}
        <i class="icon ion-ios7-arrow-right" ng-if="box.preferences.length > 0"></i>

      </ion-item>
      </span>

    </ion-list>

  </ion-content>
</ion-view>
