<ion-view view-title="Date">
  <ion-nav-buttons side="right">
    <button class="button" ui-sref="tab.order">
      Cart
      <span class="badge badge-positive"
        ng-bind="order.deliveries.length"></span>
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <button ng-repeat="date in delivery.store.dates"
      class="button button-block button-positive"
      ng-bind="date" ng-click="delivery.pickDate(date)"
      ui-sref="tab.box">
    </button>
  </ion-content>
</ion-view>
