<ion-view view-title="Item">
  <ion-nav-buttons side="right">
    <button class="button" ui-sref="tab.order">
      Cart
      <span class="badge badge-positive"
        ng-bind="order.deliveries.length"></span>
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <div class="item item-icon-left item-icon-right">

        <i class='icon ion-ios7-minus-outline'
          ng-click='item.minusOne()'></i>
        quantity: <span ng-bind="item.quantity"></span>
        <i class='icon ion-ios7-plus-outline'
          ng-click='item.plusOne()'>
        </i>
      </div>
      <button class="button button-block"
        ng-click="newItem(item)">add
      </button>


      <div class="item item-divider">
        Preferences {{item.preferences.length}} /
        {{item.max_preferences_number || 0}}
      </div>
      <ion-item
        ng-repeat="preference in item.box.preferences" class="item-icon-left"
        ng-class='{balanced: item.hasSelected(preference)}'
        ng-click="item.addPref(preference)">
        {{preference.name}}

        <span class="badge badge-calm" ng-bind="item.prefCount(preference)"></span>

      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
