<ion-view view-title="Order">
  <ion-content class="padding">
    <div ng-if="!$auth.isAuthenticated()">
    <button class="button button-full button-positive" ng-click="login()">
      Please Login
    </button>
    </div>
    <div class="list card" ng-repeat="order in orders" ng-if='$auth.isAuthenticated()'>
      <div class="item item-divider"> Order Confirmed At: {{ order.confirmed_at }}</div>

      <div ng-repeat="delivery in order.deliveries">
        <div class="item item"> Delivery {{ $index + 1 }}. {{delivery.delivered_at}}</div>
        <div class="item item-body">
          <div>
            Deliver at:  {{delivery.store.delivered_at}}
          </div>
          <div>To: {{delivery.store.delivery_address}}</div>
          <div>
            Order before: {{delivery.store.email_at}}
          </div>
        </div>
        <a class="item" ng-repeat="item in delivery.items"
          ng-click="setItem(item) && setDelivery(delivery)" ui-sref="tab.item">
          {{item.box.name}} X {{item.quantity}}
        </a>

      </div>

    </div>
  </ion-content>
</ion-view>
