<div>
  <form name='getOrderForm' ng-submit='getOrders()' layout="row" class='text-default'>
    <div flex>
      <input type='text' placeholder='Type in date in format YYYY-MM-DD'
          style='padding:20px;width:100%'
          ng-model='date'>
    </div>
    <div layout="row" layout-align='center'>
      <div class='button button-large button-blue'
          ng-click='getOrders()'>
        Display order
      </div>
    </div>
  </form>

  <div>
    <div class='text-large'>Orders for {{ date }} <b>confirmed</b> by 9am</div>
    <div ng-repeat="order in orders | isConfirmed:true | filter:isEarly" style='background: #f4f4f4; box-shadow: 0px 0px 5px #666;margin: 20px;' ng-class='{confirmed: order.confirm}'>
      <div class='text-default'>
        <b>Order id: {{ order.id }}</b>
      </div>
      <div class='text-default'>
        <b>Delivery at: {{ order.delivered_at }}</b>
      </div>
      <div class='text-default'>
        email: {{ order.email}}
      </div>
      <div class='text-default'>
        phone: {{ order.phone }}
      </div>
      <div ng-repeat="item in order.items">
        <div class='text-default' style='margin-left: 40px;'>{{ item.box.name }} [{{ item.box.chinese_name}}] &times {{ item.quantity }}</div>
      </div>
    </div>
  </div>

  <div>
    <div class='text-large'>Orders for {{ date }} <b>confirmed</b> from 9am to now</div>
    <div ng-repeat="order in orders | isConfirmed:true | filter:isLate" style='background: #f4f4f4; box-shadow: 0px 0px 5px #666;margin: 20px;' ng-class='{confirmed: order.confirm}'>
      <div class='text-default'>
        <b>Order id: {{ order.id }}</b>
      </div>
      <div class='text-default'>
        <b>Delivery at: {{ order.delivered_at }}</b>
      </div>
      <div class='text-default'>
        email: {{ order.email}}
      </div>
      <div class='text-default'>
        phone: {{ order.phone }}
      </div>
      <div ng-repeat="item in order.items">
        <div class='text-default' style='margin-left: 40px;'>{{ item.box.name }} [{{ item.box.chinese_name}}] &times {{ item.quantity }}</div>
      </div>
    </div>
  </div>


  <div>
    <div class='text-large'><b>Unconfirmed</b> Orders for {{ date }}</div>
    <div ng-repeat="order in orders | isConfirmed:false" style='background: #f4f4f4; box-shadow: 0px 0px 5px #666;margin: 20px;' ng-class='{confirmed: order.confirm}'>
      <div class='text-default'>
        <b>Order id: {{ order.id }}</b>
      </div>
      <div class='text-default'>
        <b>Delivery at: {{ order.delivered_at }}</b>
      </div>
      <div class='text-default'>
        email: {{ order.email}}
      </div>
      <div class='text-default'>
        phone: {{ order.phone }}
      </div>
      <div ng-repeat="item in order.items">
        <div class='text-default' style='margin-left: 40px;'>{{ item.box.name }} [{{ item.box.chinese_name}}] &times {{ item.quantity }}</div>
      </div>
    </div>
  </div>
</div>