<div stepping-stone
    target="#panel-order-summary"
    offset="50"
    delay='200'></div>

<div id='order-page-wrapper'>
  <div class='title-bg'>
  </div>
  <div style="height:80px" hide-sm></div>


  <!-- ================================ -->
  <!--          Orders section          -->
  <!-- ================================ -->

  <!-- ======== Tabs ======== -->

  <div class="tabs text-small" layout='row' layout-align='start center'
      hide-sm>
    <div class='tab' layout='row' layout-align='center center'
        ng-repeat="delivery in order.deliveries"
        ng-class="{'active': layout.display_order == $index}"
        ng-click='switchToOrder($index)'>
      <div ng-bind="'Delivery #' + ($index+1)"></div>
      <div ng-show='delivery.totalCost() > 0'
          layout='row' layout-align="center center">
        &nbsp;&nbsp;$ <span ng-bind="delivery.totalCost() | number: 2"></span>
      </div>
    </div>
    <div class='tab add-order' layout='row' layout-align='center center'
        ng-click="order.addDelivery().$reveal();switchToOrder(order.deliveries.length - 1)">
      <div><i class="fa fa-plus" style='font-size:18px'></i> New Order</div>
    </div>
  </div>


  <div class='order-wrapper' layout="column" layout-align='center' flex>
    <div layout="column">

      <!-- ======== Display all orders ======== -->
      <div ng-repeat="delivery in order.deliveries" ng-cloak>
        <order ng-show='layout.display_order == $index'></order>
      </div>
    </div>
  </div>

  <div ng-show="order.totalCost() > 0" layout='column' layout-gt-sm="row" layout='start center' style='padding:20px 40px'>
    <step-instruction step='3' total-steps='4'

        instruction="Enter contact info and check out!">
    </step-instruction>
    <div layout='column' layout-align='center'
        class="button button-mid button-green"
        style="margin-right:40px;margin-left:20px;"
        mobile-narrow="" ng-click="showContact()" tabindex="0">
      <div>Checkout</div>
    </div>
  </div>

  <!-- ======================================= -->
  <!--          Customer Info section          -->
  <!-- ======================================= -->

  <div layout='row' layout-align='center' flex>
    <div class="customer-info" layout="column" layout-align="center"
        ng-show="layout.contact_is_show"
        ng-class="{'customer-info-active': layout.contact_is_show}"
        t-margin-40
        flex-sm="100" flex-gt-lg="80" flex='100'>
      <div layout='row' layout-align='center'>
        <h3 class="section-title section-title-mid"><i class="fa fa-user"></i>Contact Info</h3>
      </div>
      <div layout="row" layout-align="center" flex>
        <div flex>
          <p>Please enter your <b>email address</b> and a 10-digit phone number for lunch pickup. We will send you an <b>order confirmation</b> to your email, and the order will be processed <b>after</b> you click on the link provided therein. Thank you!</p>
        </div>
      </div>

      <!-- ======== The form with two inputs ======== -->
      <form name="customerInfoForm" class="css-form"
          layout="row" layout-sm="column" layout-align='center' flex>

        <div flex>
          <input-email></input-email>
        </div>

        <div flex>
          <input-phone></input-phone>
        </div>
      </form>

      <!-- ======== The two buttons ======== -->
      <div layout='row' layout-sm='column' layout-align='center'
          t-margin-40>

        <div class='button button-mid button-blue'
            ng-click="goBack()"
            ng-hide='layout.order_success' pd-lr-20 t-margin>
          Go back
        </div>

        <div class='button button-mid button-blue'
            ng-click="placeOrder()"
            ng-hide='layout.order_success' t-margin>
          Place Order!
        </div>
      </div>

    </div>
  </div>
  <!-- ========================================== -->
  <!--          Summary panel at the top          -->
  <!-- ========================================== -->

  <panel panel-positioner order-summary></panel>

  <div id='order-confirm-wrapper'
      layout="row" layout-sm='horizontal'
      ng-show="isShowOrderConfirm">
  </div>
<!-- ========================== -->
<!--          Page END          -->
<!-- ========================== -->

</div>