<div class="order-confirm-wrapper">

  <div class="order-confirm-welcome"
      layout="column" layout-align="space-around" t-margin-40>

    <div ng-bind="notice.message"></div>

    <div ng-if="!notice.done_loading" layout="row" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

  </div>


  <div layout="column" layout-gt-md='row' layout-align="space-between" flex style="background:#f9f9f9;padding:20px;border:1px solid #ddd">
    <div flex ng-if="order">
      <div>
        <div class='text-large'>Your order summary</div>
        <br/>
        <div>
          <div class='text-default' style='padding:10px 0px;'>
            <b>Total: {{order.price}} 
            <span ng-if='order.discount!=0'>(discount applied)</span></b>
          </div>
        </div>
        <br/>
        <div class="text-default" ng-repeat="delivery in order.deliveries">
          <div style='line-height:1.5' class='success-summary-order'><b>Delivery # <span ng-bind="$index + 1"></span>: from <span ng-bind="stores[delivery.store_id]"></span> <span ng-bind="delivery.price"></span></b>, scheduled for delivery at <b>{{ delivery.delivered_at }}</b>. </div>
          <div ng-repeat="item in delivery.items" class='success-summary-item'>
            {{item.box_price}}&nbsp;&nbsp;<b><span ng-bind="item.box_name"></span></b> &times <b><span ng-bind="item.quantity"></span></b>
          </div>
          <br/>
          <br/>
        </div>
      </div>
    </div>

    <br/>
    <br/>
    <div flex ng-show='order.confirm'>
      <div class="text-large">Order Cancellation</div>
      <div t-margin-20>
        <div class='text-default'>
          You can cancel your order by clicking the button below
        </div>
        <div layout="row" layout-align='center' t-margin-20>
          <div class="button button-small button-cancel" ng-click="cancel(order)">
            <i class="fa fa-trash"></i>&nbsp;Cancel Order
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
