<style>
  .delivery-container{
    border:1px solid #eee;padding: 10px;
    margin:10px;
  }

  .delivery-container .cost{
    font-size: 40px;font-weight: 500;color: #fb0;
  }
  .delivery-container .entry{
    padding: 10px;border:1px solid #eee;background: #f4f4f4;
    display: inline-block;
  }
</style>
<div>
  
  <div>
    <input type="text" ng-model='date' placeholder="Enter date YYYY-MM-DD">
  </div>

  <div ng-repeat="delivery in deliveries">
    <div class="delivery-container">

      <div layout='row' layout-align='start center'>
        <div class="cost">
          $<span ng-bind="delivery.price.fractional/100"></span>
        </div>
        &nbsp;
        <div>
          <div class="text-gray">Schedule Delivery</div>
          <div class="text-bold" ng-bind="delivery.delivered_at"></div>
        </div>
      </div>
  
      <br/>
      <div>
        <div class="text-gray">Entries</div>
        <div class="entry" ng-repeat="item in delivery.items">
          <div>
            <span ng-bind="item.box.name"></span> x <span ng-bind="item.quantity"></span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>