<div layout="row" layout-align='center'>
  <div class="section-title section-title-large section-title-thank">
    Almost there!
  </div>
</div>

<div layout='row' layout-align='center'>
  <div layout="column" flex="100" flex-gt-md='90'>

    <div layout="column" layout-gt-md='row' layout-align='start center'
        flex>
      <div class="text-step"
          offset='' offset-sm='5' layout="row" layout-align='start center'
           t-margin-20>
        <div>
          <div class='text-xxlarge'><i class="fa fa-flag-o"></i></div>
        </div>
        <div reduce-padding>
          <div class='text-large text-white'>
            Step 3/4
          </div>
          <div class='text-default text-less-white'>
            Please confirm your order
          </div>
        </div>
      </div>


      <div flex b-margin-20 t-margin-20
          layout="row" layout-align='center center'>
        <div mobile-omit class="text-large" style='color:#499AD4'>
          Email Confirmation will be sent shortly
        </div>
      </div>
    </div>



    <div layout='row' layout-align='center'>
        <div layout="column" layout-gt-md='row' offset='' offset-sm='5'  t-margin-20 flex-gt-md='100' flex-md='90' flex='100'>
          <div>
            <div class="text-large">Confirmation</div>
            <div class='text-default' style='line-height:1.5'>
              Please check your id <b> {{order.id}}</b>, and confirm your order by <b>clicking the link</b> therein.
            </div>
            <br/>
            <div>
              <div class='text-large'>Your order summary</div>
              <br/>
              <div>
                <div class='text-default text-highlight' style='padding:10px 0px;'>
                  <b>Total: {{order.price}}
                  <span ng-if='order.discount!=0'>(discount applied)</span></b>
                </div>
              </div>
              <br/>
              <div class="text-default" ng-repeat="delivery in order.deliveries">
                <div style='line-height:1.5' class='success-summary-order'><b>Delivery # <span ng-bind="$index + 1"></span>: from <span ng-bind="stores[delivery.store_id]"></span> <span ng-bind="delivery.price"></span></b>, scheduled for delivery at <b>{{ delivery.delivered_at }}</b>. </div>
                <div ng-repeat="item in delivery.items" class='success-summary-item'>
                  {{item.box_price}}&nbsp;&nbsp;<b><span ng-bind="item.box_name"></span></b> &times <b><span ng-bind="item.quantity"></span></b>
                </div>
                <br/>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div layout="row" >
        <div>
          <div class="text-large">Cancellation</div>
          <div class='text-default' style='line-height:1.5'>
             Cancellation can be done through the link in the confirmation email.
          </div>
        </div>
      </div>
    </div>
</div>
  <payment order="order"></payment>
