<style>
  .button {
    cursor: pointer;
  }
  .button-default {
    padding: 8px 10px;font-size: 18px;
  }
  .deliveries-container{
    background: #f9f9f9;border: 1px solid #eee;
    padding: 20px;margin-top: 10px;margin-bottom: 10px;
  }
  .item{
    display: inline-block;
    border: 1px solid #ddd;padding: 10px;background: #fff;
  }

  .button {
    cursor: pointer;
  }
  .button-default {
    padding: 8px 10px;font-size: 18px;
  }

  .text-large{
    font-size: 20px;
  }
  .text-xlarge{
    font-size: 30px;
  }
  .text-light-gray{
    color: #999;
  }
  .text-blue{
    color: blue;
  }
  .text-red{
    color: red;
  }
</style>
<div id="user-store">
  <div>
    <input type="date" ng-model="date" ng-init="today">
  </div>
  <br/>
  <md-list>
    <md-item ng-repeat="delivery in deliveries_of_my_store">
    <md-item-content>
      <div class="md-tile-content">
      
      <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
        <div class='text-light-gray'>Total $</div>
        <div class='text-xlarge text-blue' ng-bind="delivery.price"></div>
      </div>

      <br/>

      <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
        <div class='text-light-gray'>Delivery date</div>
        <div class='text-large text-blue' ng-bind="delivery.delivered_at|date: 'MM/dd/yyyy'"></div>
      </div>
      <br/>

      <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
        <div class='text-light-gray'>Delivery id</div>
        <div class='text-large' ng-bind="delivery.id"></div>
      </div>


      <br/>

      <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
        <div class='text-light-gray'>Email</div>
        <div class='text-large' ng-bind="delivery.email"></div>
      </div>

      <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
        <div class='text-light-gray'>phone</div>
        <div class='text-large' ng-bind="delivery.phone"></div>
      </div>

      <!-- <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
        <div class='text-light-gray'>confirmed_at</div>
        <div ng-if="delivery.confirmed_at|date: 'MM/dd/yyyy'" class='text-large' ng-bind="delivery.confirmed_at"></div>
        <div ng-if="!delivery.confirmed_at" class='text-red text-large'>Not confirmed</div>
      </div> -->
      

      <br/>
      <br/>

      <div>
        <div>
          <div class='item' ng-repeat="item in delivery.items">
            <div class='text-large'>
              $<span ng-bind="item.box.price.fractional/100"></span>&nbsp;<span ng-bind="item.box_name"></span>:&nbsp;<span ng-bind="item.quantity"></span>
            </div>
            <div class='pref-container'>
              <div ng-repeat="pre in dataset"></div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class='button' ng-click="delivery.$destroy()">delete</div>
      </div>
      <div>
        <div class='button' ng-click="delivery.cancel()">cancel</div>
      </div>
      <div>
        <div class='button button-default' ng-click="delivery.confirm()">confirm</div>
      </div>
    </md-item-content>
    </md-item >
  </md-list>
</div>