<div ng-controller="displayUserOrderCtrl">
  <style>
    pagination>div{
      padding: 0px 20px;
    }
  </style>
  <pagination
    ng-model="orders.$page"
    total-items="orders.$total"
    total-pages="orders.$pageCount"
    ng-change="page()"
  ></pagination>

  <style>
    md-list{
      padding: 10px;
    }
    md-item-content{
      padding: 10px 10px;border: 1px solid #ddd;margin: 10px;
    }
    .deliveries-container{
      background: #f9f9f9;border: 1px solid #eee;
      padding: 20px;margin-top: 10px;margin-bottom: 10px;
    }
    .item{
      display: inline-block;
      border: 1px solid #ddd;padding: 10px;background: #fff;
    }

    .button {
      cursor: pointer;
    }
    .button-default {
      padding: 8px 10px;font-size: 18px;
    }

    .text-large{
      font-size: 20px;
    }
    .text-xlarge{
      font-size: 30px;
    }
    .text-light-gray{
      color: #999;
    }
    .text-blue{
      color: blue;
    }
    .text-red{
      color: red;
    }
  </style>

  <md-list>
    <md-item ng-repeat="order in orders | orderBy: 'delivered_at'">
    <md-item-content>
      <div class="md-tile-content">
      <!-- <h3>
        Access token: <strong ng-bind="order.access_token"></strong>
      </h3> -->

      <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
        <div class='text-light-gray'>Total $</div>
        <div class='text-xlarge text-blue' ng-bind="order.price"></div>
      </div>

      <br/>

      <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
        <div class='text-light-gray'>Order id</div>
        <div class='text-large' ng-bind="order.id"></div>
      </div>

      <br/>

      <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
        <div class='text-light-gray'>Email</div>
        <div class='text-large' ng-bind="order.email"></div>
      </div>

      <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
        <div class='text-light-gray'>phone</div>
        <div class='text-large' ng-bind="order.phone"></div>
      </div>

      <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
        <div class='text-light-gray'>confirmed_at</div>
        <div ng-if="order.confirmed_at|date: 'MM/dd/yyyy'" class='text-large' ng-bind="order.confirmed_at"></div>
        <div ng-if="!order.confirmed_at" class='text-red text-large'>Not confirmed</div>
      </div>


      <div class='deliveries-container'
          ng-repeat="delivery in order.deliveries">

        <div>
          <div>
            <span class='text-large'>Delivery # {{ $index + 1}}</span>:&nbsp;<span class='text-large text-blue' ng-bind="delivery.delivered_at|date: 'MM/dd/yyyy'"></span> from <span class='text-large text-blue' ng-bind="stores_info[delivery.store_id]"></span>
          </div>
          <br/>
          <ul>
            <li ng-repeat="item in delivery.items">
              <div class='text-large'> {{item.box.name}} x {{item.quantity}}</div>
              <div class='pref-containers'>
                <div ng-repeat="pre in item.preferences">
                  <span ng-bind="pre.value"></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

        <md-button class="md-warn" ng-click="order.$destroy()">delete</md-button>
        <md-button ng-click="order.cancel()">cancel</md-button>
        <md-button ng-click="order.confirm()">confirm</md-button>
    </md-item-content>
    </md-item >
  </md-list>
<!--   <form name='getOrderForm' ng-submit='getOrders()' layout="row" class='text-default'>
    <div flex>
      <input type='text' placeholder='Type in date in format YYYY-MM-DD'
          style='padding:20px;width:100%'
          ng-model='date'>
    </div>
    <div layout="row" layout-align='center'>
      <div class='button button-large button-blue'
          ng-click='getOrders()'>
        Display order
      </div>
    </div>
  </form>
 -->
  <!-- <div>
    <div class='text-large'>Your order history</div>

    <div ng-repeat="order in orders" style='background: #f4f4f4; box-shadow: 0px 0px 5px #666;margin: 20px;'>
      <div class='text-default'>
        <b>Order id: {{ order.id }}</b>
      </div>
      <div class='text-default' ng-repeat="delivery in order.deliveries">
        <b>Delivery at: {{ delivery.delivered_at }}</b>
        <div ng-repeat="item in delivery.items">
          <span ng-bind="item.box_name"></span>
          <span ng-bind="item.box_price"></span>
          <span ng-bind="item.quantity"></span>
        </div>
      </div>
      <div class='text-default'>
        email: {{ order.email}}
      </div>
      <div class='text-default'>
        phone: {{ order.phone }}
      </div>
      <div ng-repeat="item in order.items">
        <div class='text-default' style='margin-left: 40px;'>{{ item.box.name }} [{{ item.box.chinese_name}}] &times {{ item.quantity }}</div>
      </div>
      <div class="button button-small button-cancel" ng-click="cancel(order)" ng-if="canCancel(order)"
       layout="row" layout-align='center' t-margin-20>
        <b>Cancel</b>
      </div>
      <div class="button button-small button-confirm" ng-click="confirm(order)" ng-if="canConfirm(order)"
       layout="row" layout-align='center' t-margin-20>
        <b>Confirm</b>
      </div>
      <div class="button button-small button-disabled" ng-if="isDelivered(order)" disabled
       layout="row" layout-align='center' t-margin-20>
        <b>Delivered</b>
      </div>
      <div class="button button-small button-disabled" ng-if="confirmed_toBeDelivered(order)" disabled
       layout="row" layout-align='center' t-margin-20>
        <b>Confirmed</b>
      </div>
      <div class="button button-small button-disabled" ng-if="expired(order)" disabled
       layout="row" layout-align='center' t-margin-20>
        <b>Expired</b>
      </div>
    </div>
  </div> -->

<!--   <div>
    <div class='text-large'>Orders for {{ date }} <b>confirmed</b> from 9am to now</div>
    <div ng-repeat="order in orders | filter: isConfirmed | filter: isLate" style='background: #f4f4f4; box-shadow: 0px 0px 5px #666;margin: 20px;' ng-class='{confirmed: order.confirm}'>
      <div class='text-default'>
        <b>Order id: {{ order.id }}</b>
      </div>
      <div class='text-default'>
        <b>Delivery at: {{ order.delivered_at }}</b>
      </div>
      <div class='text-default'>
        email: {{ order.email}}
      </div>
      <div class='text-default'>
        phone: {{ order.phone }}
      </div>
      <div ng-repeat="item in order.items">
        <div class='text-default' style='margin-left: 40px;'>{{ item.box.name }} [{{ item.box.chinese_name}}] &times {{ item.quantity }}</div>
      </div>
    </div>
  </div>


  <div>
    <div class='text-large'><b>Unconfirmed</b> Orders for {{ date }}</div>
    <div ng-repeat="order in orders | filter: !isConfirmed" style='background: #f4f4f4; box-shadow: 0px 0px 5px #666;margin: 20px;' ng-class='{confirmed: order.confirm}'>
      <div class='text-default'>
        <b>Order id: {{ order.id }}</b>
      </div>
      <div class='text-default'>
        <b>Delivery at: {{ order.delivered_at }}</b>
      </div>
      <div class='text-default'>
        email: {{ order.email}}
      </div>
      <div class='text-default'>
        phone: {{ order.phone }}
      </div>
      <div ng-repeat="item in order.items">
        <div class='text-default' style='margin-left: 40px;'>{{ item.box.name }} [{{ item.box.chinese_name}}] &times {{ item.quantity }}</div>
      </div>
    </div>
  </div> -->
</div>