<div>
  <div layout="row" layout-align='center center'>
    <div class='text-small'><b>Email</b>&nbsp;&nbsp;&nbsp;&nbsp;</div>

    <!-- email input -->
    <input type='email' name='email'
        ng-model='email'
        ng-pattern='/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/'
        required
        flex>
  </div>

  <div class='text-default text-alert'
      ng-show='authForm.email.$error.pattern && regexEmail.test(authForm.email.$viewValue)'
      style='position: absolute;padding:10px 0px'>
      Your email contains invalid characters.
  </div>

</div>
