<div layout="column">
  <div layout="row" layout-align='center'>
    <div class='text-small'><b>Password (again)</b>&nbsp;&nbsp;&nbsp;</div>

    <!-- Password input -->
    <input ng-hide="isRepeat" type='password' name='passwordRepeat'
        ng-model="credentials.passwordRepeat"
        required flex>
  </div>
  <div class='text-default text-alert'
      ng-show='regexEmail.test(authForm.passwordRepeat.$viewValue)'
      style='position: absolute;padding:10px 0px'>
      Your password contains invalid characters.
  </div>

</div>
