<div layout="column">
  <div layout="row" layout-align='center center'>
    <div class='text-small'><b>Password</b>&nbsp;&nbsp;&nbsp;</div>

    <input type='password' name='password'
        ng-model="credentials.password"
        required flex>
  </div>
  <div class='text-default text-alert'
      ng-show='regexEmail.test(authForm.password.$viewValue)'
      style='position: absolute;padding:10px 0px'>
      Your password contains invalid characters.
  </div>

</div>
