<div layout='row' layout-align='center'>
  <div layout="column" layout-align="center center"
      flex-sm="100" flex-gt-md="70" flex-gt-lg="40" t-margin-40>

    <div b-margin-20>
      <div class='text-default'
          ng-switch on="credentials.alert">
        <div ng-switch-default>
          Login: please enter your credentials.
        </div>
        <div ng-switch-when='in-progress'>
          Logging you in
        </div>
        <div ng-switch-when="input-error">
          Please check your credentials.
        </div>
        <div ng-switch-when="Unauthorized">
          Your password isn't quite right.
        </div>
        <div ng-switch-when="Not Found">
          Sorry, your credentials do not match any of our records.
        </div>
      </div>
    </div>

    <form class="form_auth" name="authForm" layout="column" layout-fill t-margin-20 ng-submit="login()">
      <md-input-container>
        <label>Email</label>
        <input type="email" required name="email" ng-model="credentials.email"
        >
        <div ng-messages="authForm.email.$error">
          <div ng-message="required">
            Your email is required.
          </div>
          <div ng-message="email">
            Your email is invalid.
          </div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input type='password' name='password'
        ng-model="credentials.password"
        required>
        <div ng-messages="authForm.password.$error">
          <div ng-message="required">
            Your password is required.
          </div>
          <div ng-message="pattern">
            Your password contains invalid characters.
          </div>
        </div>
      </md-input-container>

      <md-button type="submit" class="md-raised md-primary">
        Login
      </md-button>
    </form>
  </div>
</div>