<div layout='row' layout-align='center'>
  <div layout="column" layout-align="center center"
      flex-sm="100" flex-gt-md="70" flex-gt-lg="40">

    <div b-margin-20>
      <div class='text-default'
          ng-switch on="credentials.alert">
        <div ng-switch-default>
          Signing up: please enter your credentials.
        </div>
        <div ng-switch-when='input-error'>
          Your credentials are not in correct format, please check.
        </div>
        <div ng-switch-when="pwds-not-match">
          The two passwords you entered do not match. Please check.
        </div>
        <div ng-switch-when="Unauthorized">
          Sorry, the email address already registered an account.
        </div>
      </div>
    </div>

    <form class="form_auth" name="authForm" layout="column" layout-fill t-margin-20 ng-submit="signUp()">
      <md-input-container>
        <label>Email</label>
        <input type="email" required name="email" ng-model="credentials.email"
        >
        <div ng-messages="authForm.email.$error">
          <div ng-message="required">
            Your email is required.
          </div>
          <div ng-message="email">
            Your email is invalid.
          </div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input type='password' name='password'
        ng-model="credentials.password"
        required>
        <div ng-messages="authForm.password.$error">
          <div ng-message="required">
            Your password is required.
          </div>
          <div ng-message="pattern">
            Your password contains invalid characters.
          </div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Password (again)</label>
        <input type='password' name='passwordRepeat'
        ng-model="credentials.passwordRepeat"
        dc-match="credentials.password"
        required>

        <div ng-messages="authForm.passwordRepeat.$error">
          <div ng-message="required">
            Your password confirmation is required.
          </div>
          <div ng-message="dcMatch">
            Your password does not match.
          </div>
        </div>
      </md-input-container>

      <md-button type="submit" class="md-raised md-primary">
        Register
      </md-button>
    </form>

    <div class='text-default' ng-if='!auth.signedIn()'>
      Already have an account? Just
      <a ui-sref="login"><b>sign in</b></a>
    </div>
  </div>
</div>
