<form validate accept-charset="UTF-8" role="form" name="myForm" ng-submit='myForm.$valid && reset()' layout="column" layout-fill>

  <md-input-container label="Password" error="myForm.password.$invalid && myForm.password.$dirty" theme="blue">
    <input type="password" name="password" ng-model="credentials.password" required
      ng-model-options="{ updateOn: 'blur' }">
  </md-input-container>

  <ng-messages for="myForm.password" ng-if="myForm.password.$invalid && myForm.password.$dirty">
    <ng-message>Invalid password</ng-message>
  </ng-messages>

  <md-input-container label="Confirm" error="myForm.password_confirmation.$invalid && myForm.password_confirmation.$dirty" theme="blue">
    <input type='password' name="password_confirmation" ng-model-options="{ updateOn: 'blur' }" ng-model='credentials.password_confirmation' required dcs-match="credentials.password">

  </md-input-container>

  <ul class="form-error" ng-if="myForm.password_confirmation.$invalid && myForm.password_confirmation.$dirty">
    <li>password not match</li>
  </ul>

  <md-button type="submit" class="md-raised md-primary">Reset</md-button>
</form>
