<div>
  <form ng-hide="sent" validate accept-charset="UTF-8" role="form" name="myForm" ng-submit='myForm.$valid && sendEmail()' layout="column" layout-fill>

    <md-input-container>
      <label>Email</label>
      <input type="email" name="email" ng-model="email" required
        ng-model-options="{ updateOn: 'blur' }">
      <ng-messages for="myForm.email" ng-show="myForm.email.$invalid && myForm.email.$dirty">
        <ng-message>Invalid email</ng-message>
      </ng-messages>
    </md-input-container>


    <md-button type="submit" class="md-raised md-primary">Request</md-button>
    <br>

    <span>Instructions for password reset will be sent to your email.</span>
  </form>
  <STRONG ng-show="sent">Your Email for password reset will arrive soon</STRONG>
</div>