<div>
<md-list>
  <md-item class='deliveries-container' ng-repeat="delivery in deliveries | orderBy: '-delivered_at'">
    <md-item-content>
      <div layout = "column">
        <div layout = "row">
          <span class='text-large'>Delivery # {{ $index + 1}}</span>:&nbsp;<span class='text-large text-blue' ng-bind="delivery.delivered_at|date: 'MM/dd/yy'"></span> 
        </div>

        <div layout = "row">
          <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
            <div class='text-light-gray'>Phone</div>
            <div class='text-large' ng-bind="delivery.phone"></div>
          </div>

          <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
            <div class='text-light-gray'>Confirmed at</div>
            <div ng-if="delivery.confirmed_at" class='text-large' ng-bind="delivery.confirmed_at|date: 'HH:mma MM/dd/yy'"></div>
            <div ng-if="!delivery.confirmed_at" class='text-red text-large'>Not confirmed</div>
          </div>
          
          <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
            <div class='text-light-gray'>Total price</div>
            <div class='text-large' ng-bind="delivery.price.fractional/100 | currency"></div>
          </div>
        </div >


        <br/>
        <br/>
        <div layout = "row">
          <div class='item' ng-repeat="item in delivery.items">
            <div class='text-large'>{{item.box_name}} x {{item.quantity}}</div>
            <div style='display:inline-block;margin-right:10px;margin-top:10px;'>
              <div class='text-large text-blue' ng-bind="item.box_price"></div>
            </div>
            <div class='pref-container'>
              <div ng-repeat="pre in item.preferences">
                <div class='text-large'>{{pre.box_preference.name}}</div>
              </div>
            </div>
          </div>
        </div>

        <br/>
      </div>
    </md-item-content>
  </md-item>
</md-list>
</div>