<div class='career-container' layout='row' layout-align="center">
  <div>

    <br/>
    <br/>
    <br/>

    <div layout='row' layout-align='center'>
      <div>
        <div class='text-xlarge text-green' style='text-align:center'>
          Frequent Asked Questions.
        </div>
      </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>

    <div layout='row' layout-align='center'
        style='padding:40px 20px;'>
      <div flex-gt-md="80" flex='100'>
        <div class="text-large">
          Why do you need my phone/email?
        </div>
        <br/>
        <div class='text-gray' style='line-height:1.2;'>
          We will not ask for any of your private information unless
          it is necessary to complete the order.
          Your email is used to confirm you as a real person. And your
          phone number is collected for the restaurants to contact you when your meal arrives.
        </div>
        <div class="text-large">
          What if I change my mind after confirming my order?
        </div>
        <br/>
        <div class='text-gray' style='line-height:1.2;'>
          You can cancel your order through the link provided in the confirmation email any time before the last order time
          that shown on the menu page.
        </div>
        <div class="text-large">
          Do I get my meal even if I confirm my order after the last order time?
        </div>
        <br/>
        <div class='text-gray' style='line-height:1.2;'>
          We are sorry that your order will not be sent to the restaurant if it is not confirmed before the last order time.
        </div>
      </div>

    </div>
  </div>

<div>
