<!-- The introduction part -->
<div id="intro-wrapper" layout="column" layout-padding layout-fill layout-align="center center">
  <div style='height:50px;'></div>
  <div style='background:rgba(0, 0, 0, 0.5);padding:20px;'>
    <div class="section-title section-title-large text-white"
        style='border-bottom:1px solid #fff;'>
      Amazing food delivered to your campus!
    </div>

    <div layout="column" layout-gt-sm='row' layout-align='center center'>
      <h2 class='text-white'></h2>
      <div>
        <div class="text-large text-white">Currently serving:</div>
      </div>
      <div class='button button-large button-blue' ui-sref="orders.new">
        Stony Brook Uni
      </div>
    </div>
    <div class="text-default" style='text-align:center;color:#ddd;'>More are coming!</div>

  </div>
  <!-- <div class='text-large text-highlight'>
    Our site is currently under maintenance. Please try again later. Thank you!
  </div> -->

</div>
