<style>

  .career-container div{
    line-height: 1.2;
  }
  .value-card{
    display:inline-block;margin-right:40px;margin-bottom: 40px;
    background: #f9f9f9;border: 1px solid #ddd;
    padding: 20px;
  }
  .value-card .text-bold{
    text-align: center;
  }
</style>

<div class='career-container' layout='row' layout-align="center">
  <div>

    <br/>
    <br/>
    <br/>

    <div layout='row' layout-align='center'>
      <div>
        <div class='text-default text-gray' style='text-align:center;border-bottom:2px solid #aaa;margin-bottom:10px;padding-bottom:5px;'>
          We dedicate ourselves to bringing out the potential in each of us for betterment of the world.
        </div>
        <div class='text-xlarge text-green' style='text-align:center'>
          Join Us And Be Part of the Effort!
        </div>
      </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>

    <div layout='row' layout-align='center'
        style='padding:40px 20px;'>
      <div flex-gt-md="80" flex='100'>
        <div class="text-large">
          <i class='fa fa-globe'></i>&nbsp;Connect the world
        </div>
        <br/>
        <div class='text-gray' style='line-height:1.2;'>
          The intrinsic potential of each individual is unimaginably huge. We hope to bring out the best in each of us, by bringing people together, as though solving a jigsaw puzzle. The potential of the jigsaw of the whole world is phenomenally intricate and beautiful, waiting silently for our harvesting.
        </div>
      </div>

    </div>

    <br/>

    <div style='padding:40px 20px;background:#f9f9f9;'
        layout='row' layout-align='center'>
      <div flex-gt-md="80" flex='100'
          layout='row' layout-align='center'>
        <div>
          <div class='text-large'>Our Team</div>
          <br/>
          <div class='text-gray'>
            We are a phenomenal group of vibrant, energetic people. Our vision is to connect and bring people together in collaboration, to achieve and create synergy together.
          </div>
        </div>
      </div>
    </div>

    <div style='padding:40px 20px;'
        layout='row' layout-align='center'>

      <div flex-gt-md="80" flex="100">
        <div class='text-large'>Our values</div>

        <br/>

        <div layout='row' layout-sm='column'>

          <div class="value-card" flex>
            <div class='text-default text-bold'>Long-term value</div>
            <br/>
            <div class='text-gray'>
              We're interested in building strong networks of people across the world. We are always looking for opportunities to help and bring people together.
            </div>
          </div>

          <div class="value-card" flex>
            <div class='text-default text-bold'>Swift implementation</div>
            <br/>
            <div class='text-gray'>
              We are not only interested in ideas, but we also need to keep moving fast and deliver value.
            </div>
          </div>

        </div>

        <div layout='row' layout-sm='column' flex="80">
          <div class='value-card' flex>
            <div class="text-default text-bold">Embrace diversity</div>
            <br/>
            <div class='text-gray'>
              We value the diversity of people and ideas. Having the right people with the right chemistry together, fireworks will naturally follow.
            </div>
          </div>
          <div class="value-card" flex>
            <div class="text-default text-bold">Keep an open mind</div>
            <br/>
            <div class='text-gray'>
              We keep an open mind to all possibilities and ideas that can help us bring people together across the world.
            </div>
          </div>
        </div>


        <div layout='row' layout-sm='column' flex="80">
          <div class='value-card' flex>
            <div class="text-default text-bold">
              Self-development
            </div>
            <br/>
            <div class='text-gray'>
              We focus on continuous learning and self improvement, to develop the full potential in each of us in all spheres of excellence.
            </div>
          </div>
        </div>



      </div>



    </div>


    <div style='padding:40px 20px;background:#f9f9f9;'
        layout='row' layout-align='center'>
      <div flex-gt-md="80" flex='100'
          layout='row'>
        <div>
          <div class='text-large'>Open Positions:</div>
          <br/>
          <div>
          <md-list>
          <md-item>
          <md-item-content>
          <div class="md-tile-content">
          <h3>Software Engineer: Front End</h3>
          <h4>Stony Brook, Long Island</h4>
          <p>
We are looking for an experienced front-end engineer who loves working on a great app, and ships fast without breaking things. You will have a great level of freedom to help guide the future technology stack as this project as we scale.
          </p>
          </div>
          </md-item-content>
          </md-item>
          <md-item>
          <md-item-content>
          <div class="md-tile-content">
          <h3>Marketing Manager</h3>
          <h4>Stony Brook, Long Island</h4>
          <p>
We are looking for an experienced marketing expert who loves  creating & editing marketing collateral, coordinating event planning, program management, and social media and web campaign.
          </p>
          </div>
          </md-item-content>
          </md-item>
          </md-list>
          </div>

          <div class='text-gray'>

          </div>
        </div>

      </div>
    </div>

  </div>

<div>
