<style>
  .rpartner-container a{
      color: #FF5F24;text-decoration: none;
      transition: all 0.1s;
      -webkit-transition: all 0.1s;
  }
  .rpartner-container a:hover{
      cursor: pointer;
  }
  .rpartner-container a:active{
      cursor: pointer;
  }
  .rpartner-container b {
    color: $font-color;font-weight: 800;font-size:150%;text-align: center;
  }
  .rpartner-container div{
    line-height: 1.2;
  }
  .value-card{
    display:inline-block;margin-right:40px;margin-bottom: 40px;
    background: #f9f9f9;border: 1px solid #ddd;
    padding: 20px;
  }
  .value-card .text-bold{
    text-align: center;
  }
</style>

<div class='rpartner-container' layout='row' layout-align="center">
  <div>

    <br/>
    <br/>
    <br/>

    <div layout='row' layout-align='center'>
      <div>
        <div class='text-xlarge text-green' style='text-align:center'>
          Pricing and Refund Policies <br>
        </div>
      </div>
    </div>

    <br/>

    <div layout='row' layout-align='center'
        style='padding:0px 20px;'>
      <div flex-gt-md="80" flex='100'>
        <div class="text-large">
          Payment methods
        </div>
        <br/>
        <div class='text-gray' style='line-height:1.2;'>
          <ul>
            <li><i>Paying via Credit/Debit Card</i><br>
              Order will be charged for at the point of checkout.
            </li>
            <li><i>Paying via Cash</i><br>
              Cash will be collected at the point of delivery.
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div layout='row' layout-align='center'
        style='padding:20px 20px;'>
      <div flex-gt-md="80" flex='100'>
        <div class="text-large">
          Pricing Policy
        </div>
        <br/>
        <div class='text-gray' style='line-height:1.2;'>
          The price of meals purchased on this website is exactly the same as that as going directly to the restaurant. If there is any mismatch in prices, please inform us and we will update it correspondingly.
        </div>
      </div>

    </div>

    <div layout='row' layout-align='center'
        style='padding:20px 20px;'>
      <div flex-gt-md="80" flex='100'>
        <div class="text-large">
          Refund Policy
        </div>
        <br/>
        <div class='text-gray' style='line-height:1.2;'>
          We do not refund purchased orders at this point in time.
        </div>
      </div>

    </div>



  </div>

<div>
