<style>
  .privacy-container a{
      color: #FF5F24;text-decoration: none;
      transition: all 0.1s;
      -webkit-transition: all 0.1s;
  }
  .privacy-container a:hover{
      cursor: pointer;
  }
  .privacy-container a:active{
      cursor: pointer;
  }
  .privacy-container b {
    color: #000000;font-weight: 600;font-size:140%;text-align: center;
  }
  .privacy-container div{
    line-height: 1.2;
  }
  .value-card{
    display:inline-block;margin-right:40px;margin-bottom: 40px;
    background: #f9f9f9;border: 1px solid #ddd;
    padding: 20px;
  }
  .value-card .text-bold{
    text-align: center;
  }
</style>

<div class='privacy-container' layout='row' layout-align="center">
  <div>

    <br/>
    <br/>
    <br/>

    <div layout='row' layout-align='center'>
      <div>
        <div class='text-xlarge text-green' style='text-align:center'>
          Privacy Policy <br>
        </div>
      </div>
    </div>

    <br/>

    <div layout='row' layout-align='center'
        style='padding:40px 20px;'>
      <div flex-gt-md="80" flex='100'>

This Privacy Policy governs the manner in which LUNCHEA INC. (herein referred to as "Lunchea") collects, uses, maintains and discloses information collected from users (each, a "User") of the <a href="www.lunchea.com">www.lunchea.com</a> website ("Site"). This privacy policy applies to the Site and all products and services offered by Lunchea.<br><br>

<b>Personal Identification Information</b><br><br>

Lunchea may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit the Site, register on the Site, place an order, and in connection with other activities, services, features or resources that are made available on the Site. Users may be asked for, as appropriate, name, email address, phone number. Users may, however, visit the Site anonymously. Lunchea will collect personal identification information from Users only if they voluntarily submit such information to Lunchea. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.<br><br>

<b>Non-personal Identification Information</b><br><br>

Lunchea may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users' means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.<br><br>

<b>Web Browser Cookies</b><br><br>

Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert the User when cookies are being sent. If they do so, note that some parts of the Site may not function properly.<br><br>

<b>Lunchea's Use of Collected Information</b><br><br>

Lunchea may collect and use Users personal information for the following purposes:<br>
<ul>
<li><i>To improve customer service</i><br>
  Information you provide helps Lunchea respond to your customer service requests and support needs more efficiently.</li>
<li><i>To improve our Site</i><br>
  Lunchea may use feedback you provide to improve our products and services.</li>
<li><i>To run a promotion, contest, survey or other Site feature</i><br>
  To send Users information they agreed to receive about topics that Lunchea think will be of interest to them.</li>
<li><i>To send periodic emails</i><br>
Lunchea may use the email address to send User information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, they may do so by contacting Lunchea via our Site.</li>
</ul>
<b>How Lunchea Protects Your Information</b><br><br>

Lunchea adopts appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.<br><br>

Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures.<br><br>

<b>Sharing Your Personal Information</b><br><br>

Lunchea does not sell, trade, or rent Users personal identification information to others. Lunchea may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.<br><br>

<b>Third Party Websites</b><br><br>

Users may find advertising or other content on our Site that link to the sites and services of Lunchea partners, suppliers, advertisers, sponsors, licensors and other third parties. Lunchea does not control the content or links that appear on these sites and is not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website's own terms and policies.<br><br>

<b>Changes to This Privacy Policy</b><br><br>

Lunchea has the discretion to update this privacy policy at any time. The updated date at the bottom of this page will be revised when updates are made. Lunchea encourages Users to frequently check this page for any changes to stay informed about how Lunchea is helping to protect the personal information collected by Lunchea. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.<br><br>

<b>Your Acceptance of These Terms</b><br><br>

By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.<br><br>

<b>Contacting Lunchea</b><br><br>

If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at 
<a href="mailto:support@lunchea.com">support@lunchea.com</a>

<br>
<br>
This document was last updated on April 21, 2015<br><br>

<!-- <div style="font-size:10px;color:gray;">Privacy policy created by <a style="font-size:10px;color:gray;text-decoration:none;cursor:default;" href="http://www.generateprivacypolicy.com" target="_blank">Generate Privacy Policy</a></div>
 -->
      </div>

    </div>

  </div>

<div>
