<style>
  .rpartner-container a{
      color: #FF5F24;text-decoration: none;
      transition: all 0.1s;
      -webkit-transition: all 0.1s;
  }
  .rpartner-container a:hover{
      cursor: pointer;
  }
  .rpartner-container a:active{
      cursor: pointer;
  }
  .rpartner-container b {
    color: $font-color;font-weight: 800;font-size:150%;text-align: center;
  }
  .rpartner-container div{
    line-height: 1.2;
  }
  .value-card{
    display:inline-block;margin-right:40px;margin-bottom: 40px;
    background: #f9f9f9;border: 1px solid #ddd;
    padding: 20px;
  }
  .value-card .text-bold{
    text-align: center;
  }
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
  .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
  .tg .tg-e3zv{font-weight:bold}
  .tg .tr-blue{background: #f9f9ff}
</style>

<div class='rpartner-container' layout='row' layout-align="center">
  <div>

    <br/>
    <br/>
    <br/>

    <div layout='row' layout-align='center'>
      <div>
        <!-- <div class='text-default text-gray' style='text-align:center;border-bottom:2px solid #aaa;margin-bottom:10px;padding-bottom:5px;'>
          We dedicate ourselves to bringing out the potential in each of us for betterment of the world.
        </div> -->
        <div class='text-xlarge text-green' style='text-align:center'>
          Hey restaurant owners! <br>
          Craving for more business?
        </div>
      </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>

    <div layout='row' layout-align='center'
        style='padding:40px 20px;'>
      <div flex-gt-md="80" flex='100'>
        <div class="text-large">
          Join Lunchea
        </div>
        <br/>
        <div class='text-gray' style='line-height:1.2;'>
          Register as a user first (top right corner), and the restaurant registration link is at the bottom of the dashboard home page.
        </div>
      </div>

    </div>

    <div style='padding:40px 20px;'
        layout='row' layout-align='center'>

      <div flex-gt-md="80" flex="100">
        <div layout="row" layout-sm="column">

          <div layout='column' layout-sm='row' flex="50">
            <div class='value-card' flex>
              <div class="text-default text-bold">How It Works</div>
              <br/>
              <div class='text-gray'>
                Customers on our sites look at your menu and place an order from their computer or mobile phone, and we will inform you of their order through email or phone. <br>
                In addition, you only pay on orders that we send you. We use a tiered freemium model, as detailed below.
                <br>
                <br>
                <div layout="column">
                  <center>
                    <table class="tg">
                      <tr class="tr-blue">
                        <th class="tg-e3zv">Monthly sales</th>
                        <th class="tg-e3zv">Commission</th>
                      </tr>
                      <tr>
                        <td class="tg-031e">&lt; $100 </td>
                        <td class="tg-031e">0%</td>
                      </tr>
                      <tr>
                        <td class="tg-031e">$100 - $500</td>
                        <td class="tg-031e">3%</td>
                      </tr>
                      <tr>
                        <td class="tg-031e">$500 - $3000 </td>
                        <td class="tg-031e">7%</td>
                      </tr>
                      <tr>
                        <td class="tg-031e">$3000 - $10000</td>
                        <td class="tg-031e">10%</td>
                      </tr>
                      <tr>
                        <td class="tg-031e">&gt; $10000</td>
                        <td class="tg-031e">Case-by-case<a/td>
                      </tr>
                    </table>
                  </center>
                </div>
                <br>
                If the revenue from our site is less $100 in that month, we would not charge your restaurant. If the revenue from our site is more than $10000, we expect that your restaurant might need a new employee or expand its business, and we would discuss with you to give favorable rates to cushion your business expansion.
              </div>
            </div>
          </div>

          <div layout='column' layout-sm='row'>

            <div class="value-card" flex>
              <div class='text-default text-bold'>Why Lunchea?</div>
              <br/>
              <div class='text-gray'>
                We bring more customers to you, through the web and through mobile. Even if you already have a website, we can help you with directing traffic to your website.
              </div>
            </div>

            <div class="value-card" flex>
              <div class='text-default text-bold'>Who We Are</div>
              <br/>
              <div class='text-gray'>
                We are a phenomenal group of vibrant, energetic people. Our vision is to connect and bring people together in collaboration, to achieve and create synergy together.
              </div>
            </div>
            
            <div class="value-card" flex>
              <div class="text-default text-bold">How To Join?</div>
              <br/>
              <div class='text-gray'>
                Register as a user first (top right corner), and the restaurant registration link is at the bottom of the dashboard home page.
              </div>
            </div>
          </div>
          
        </div>
        


      </div>



    </div>



  </div>

<div>
